[2019-05-17 05:28] dscho opened #197 "Fix flakey t7519.15"
The `fsmonitor` feature is apparently not quite robust, or at least the mentioned test case isn't (see e.g. https://dev.azure.com/gitgitgadget/git/_build/results?buildId=9064&view=ms.vss-test-web.build-test-results-tab&runId=19542&resultId=101590&paneView=debug).

[2019-05-17 05:58] dscho commented on #197
FYI @avar

[2019-05-17 06:15] dscho opened #198 "Avoid duplicate entries in `git ls-files` for unmerged entries"
This is a left-over bit: https://public-inbox.org/git/xmqq8sw17c3q.fsf@gitster-ct.c.googlers.com/

[2019-05-17 06:26] dscho opened #199 "Allow `reset <tag>` in `git rebase -ir`"
The interactive rebase allows resetting `HEAD` to a specified revision, but it currently cannot handle tags. Let's fix that.

See https://public-inbox.org/git/nycvar.QRO.7.76.6.1903132322420.41@tvgsbejvaqbjf.bet/

[2019-05-17 06:33] dscho opened #200 "Mention `core.excludesFile` in `git clean`'s documentation"
"man git-clean" *explicitly* mentions two locations related to cleaning:

[code]

without additionally *explicitly* mentioning core.excludesFile. if the
man page simply said something like, "using the standard ignore
processing" and left it at that, it would be fine, but to list two of
the locations without the third is potentially confusing.

See https://public-inbox.org/git/nycvar.QRO.7.76.6.190

[2019-05-17 06:39] dscho opened #201 "Make OPT_RERERE_AUTOUPDATE's "unspecified" value consistent with other unspecified values"
In Git's source code, the (unwritten) convention is to use `-1` for unspecified values of command-line options of config settings.

Currently, the `rerere.autoUpdate` setting disagrees, and we should rectify this.

See https://public-inbox.org/git/nycvar.QRO.7.76.6.1901181443350.41@tvgsbejvaqbjf.bet/

[2019-05-17 07:05] dscho opened #202 "rebase -ir should warn (or error out) when commits were produced but not included in the final commit history"
It is easy to do this:

[code]

Obviously, the first `pick` was not included by mistake.

So every time `reset` is executed, it should record the HEAD's hash in a growing list, and verify in the end that they are reachable (possibly using the `refs/rewritten/*` refs with `name-rev` to display nicer names).

This feature is similar in spirit to the warning when calling `git checkout <branch>` on a

[2019-05-17 07:11] dscho opened #203 "git cherry-pick --pick-merges <range>"
This feature would work just like `git rebase --rebase-merges`, i.e. try to recreate the merge commits contained in the commit range.

[2019-05-17 07:15] dscho opened #204 "rebase -ir: optionally auto-update local branches when executing `label` commands"
The `--rebase-merges` mode allows users to rebase entire branch thickets, rather than only a linear commit history.

This feature can also be used to structure otherwise too-long patch series. Essentially the history looks like this:

[code]

This makes sure that the whole feature can be developed from beginning to end, still keeping the "first-batch" in a shape that can be contributed individuall

[2019-05-17 07:57] dscho opened #205 "Offer an easy way to fetch/pull the branch matching the name of the current branch"
When fetching from a remote, one can specify which ref(s) to fetch.

When pulling, there is even a very convenient convention to fetch and merge the "upstream branch", i.e. the one connected via `git branch --set-upstream-to=<remote>/<branch>`.

However, there is no convenient way to specify the name of the current branch, other than typing it out. This is a problem e.g. when working on a multi-pl

[2019-05-17 07:58] dscho opened #206 "range-diff: add support for `--left-only` and `--right-only`"
When contributing patches to Git, developers often need to compare in what form those patches made it upstream (e.g. to pick up fixes made by the Git maintainer in preparation for a new iteration). In such a case, a `--left-only` (or `--right-only`) option would come in real handy, to allow `git range-diff --left-only <branch>..upstream/pu` to skip commits that are upstream only (as there will be

[2019-05-17 08:02] dscho opened #207 "range-diff: allow comparing branches to mboxes"
A neat trick that could come in real handy at times would be to teach `git range-diff` to compare a local branch to a patch series that is provided as an mbox, e.g. to use `git range-diff` to see
whether a given patch series on the mailing list has made it into git.git's `pu` branch yet.

We could introduce `range-diff mbox:<file> A..B` for that, for example.

This would still require some scripti

[2019-05-17 21:45] dscho opened #209 "rebase -r: implement an equivalent to skip_unnecessary_picks()"
Take this todo list, for example:

[code]

In other words: two branches, both one patch deep, both merged, one after the other. Now,
if you insert `pick abc zeroth` before the first `pick`, obviously the first branch would no longer be skippable, but the second one totally would be!

Since we are not performing a linear rebase, the `skip_unnecessary_picks()` function has no prayer of helping us he

[2019-05-17 22:04] dscho opened #210 "rebase -i: error on fixup/squash when the corresponding pick was skipped"
Imagine this todo list:

[code]

Now, as the oneline suggests, let's assume that the `pick` results in merge conflicts, and let's further assume that the user decided to skip it via `git rebase --skip`.

Obviously, the `fixup` should not blindly amend `HEAD` at this point, so we will probably want to error out with a helpful message.

[2019-05-18 09:01] dscho opened #211 "rebase -i: implement --reschedule"
Warning: This one is tricky, as already the mental model is unclear (adding to the technical challenges).

The problem: during an interactive rebase, the user might realize that they want to redo (part of) the rebase, e.g. to resolve merge conflicts in a different way.

The proposed solution: a new `git rebase --reschedule <argument>` command mode.

The challenge: it is not at all clear what this

[2019-05-19 09:59] weekly-digest[bot] opened #212 "Weekly Digest (12 May, 2019 - 19 May, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 21 issues were created.
Of these, 2 issues have been closed and 19 issues are still open.
## OPEN ISSUES
:green_heart: #211 [rebase -i: implement --reschedule](https://github.com/gitgitgadget/git/issues/211), by [dscho](https://github.com/dscho)
:green_heart: #210 [rebase -i: erro

[2019-05-23 19:49] #212 closed

[2019-05-25 18:51] #197 closed

[2019-05-26 09:59] weekly-digest[bot] opened #225 "Weekly Digest (19 May, 2019 - 26 May, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 12 issues were created.
Of these, 0 issues have been closed and 12 issues are still open.
## OPEN ISSUES
:green_heart: #224 [Use user supplied origin name for extension.partialcone instead of](https://github.com/gitgitgadget/git/pull/224), by [delphij](https://github.com/delphij)

[2019-05-28 10:32] #225 closed

[2019-05-28 20:10] dscho opened #230 "Reconcile `dir_exists()` and `is_directory()`"
In https://github.com/git/git/blob/v2.22.0-rc1/builtin/clone.c#L885-L889, there is a function with the short and sweet name `dir_exists()` (which is the obvious companion to `file_exists()`). However, it is marked as `static`, so nobody can use it outside `builtin/clone.c`.

There is also [`is_directory()`](https://github.com/git/git/blob/v2.22.0-rc1/abspath.c#L3-L12) which obviously tries to do t

[2019-05-28 20:24] r1walz commented on #230
Maybe moving it to [`dir.c`](https://github.com/git/git/blob/v2.22.0-rc1/dir.c#L2318) and renaming in `clone.c`?

[2019-05-29 09:27] dscho opened #231 "Teach `git stash` and `git commit` the `-A` option"
The `git add -A` command can be used to conveniently add all files, whether they are tracked or not yet tracked (excluding the ones ignored via `.gitignore`/`.git/info/excludes`).

This convenience would come in quite nicely in the `stash`/`commit` commands, too (in the latter case, many test cases could be simplified using this new option).

The `git stash` command already has the `--include-untr

[2019-05-29 09:28] dscho commented on #230
I don't think so, as the current `dir_exists()` does not verify that the path refers to a directory. In essence, it actually does more of a `path_exists()`.

[2019-05-29 09:31] dscho opened #232 "Having grep support the -o option like GNU grep et al"
We have most of the code for this already in the form of our color hi-lighting, it would mostly just be a matter of "just print out the stuff you'd have colored", with the small exception that if you have more than one match on a line they should be printed out on their own lines.

Copied from: https://public-inbox.org/git/87in9ucsbb.fsf@evledraar.gmail.com/

[2019-05-29 09:33] dscho opened #233 "Add more config IncludeIf conditions"
Recently there was [a mention on `git-users`](https://groups.google.com/forum/?fromgroups#!searchin/git-users/includeif%7Csort:date/git-users/SHd506snwSk/UdVCsCILBwAJ) to extend the `includeIf` statement to read config.

Now that seems like a nasty circular dependency but there's other low-hanging fruit there, like make it match a given env name to a value (or glob?).

Copied from: https://public-

[2019-05-29 09:35] dscho opened #234 "Add another set of GIT_{AUTHOR,COMMITTER}_{NAME,EMAIL} with lower priorities"
It would be nice if git supported a way to do override the fallback when neither the config nor the current environment variables specify the author/committer name.

Copy-munged from: https://public-inbox.org/git/87in9ucsbb.fsf@evledraar.gmail.com/

[2019-05-29 09:42] dscho opened #235 "Fix inconsistent regexp usage"
If you supply `--perl-regexp` to `git log` it only applies to `--grep`. The documentation says "Consider the limiting patterns to be Perl-compatible regular expressions". Which might lead you to think that e.g. `-G` uses it too. It doesn't, only `grep.c` does PCRE, but `-G` is handled by `diffcore-pickaxe.c`.

Looking at `git grep -l regexec -- '*.c'` this whole thing is a mess. Ideally you should

[2019-05-29 11:53] PhilipOakley commented on #201
Also (should be a new issue maybe) actually write somewhere. e.g. the CodingGuidelines "the (-unwritten-) convention is to use -1 for unspecified values of command-line options of config settings"

[2019-05-29 12:44] dscho opened #236 "Invent a way to retain reflogs for a while after the ref was deleted"
It is a bit of a sad story that reflogs are deleted *the moment* the ref is deleted. So there is no easy "undo" there, even when the user has an "Ooops, I needed that branch and its reflog!" moment.

This will require a sane design around ref-less reflogs that can be garbage-collected after a configurable time.

[2019-05-29 15:07] dscho commented on #201
Definitely worth a new issue. How about it, @PhilipOakley?

[2019-05-29 15:56] PhilipOakley commented on #201
It's in/on my pile of todo lists 😉 ... (actually that's two actions: a) create issue, b) write three line doc update with 25 line commit message over 4 versions;-)

[2019-05-29 16:04] PhilipOakley opened #237 "use -1 for unspecified values of command-line options of config settings"
following from #201, document same in Coding Guidelines.

[2019-05-29 16:24] PhilipOakley opened #239 "some PRs need effective rebasing between gfs and upstream git."
It is tricky playing both sides against each other for commit diffs that should transferable between the two code bases (gfw <-> git), as seen in #237

Not sure if GitHub could support this?

[2019-05-29 16:39] PhilipOakley commented on #239
origin  https://github.com/git-for-windows/git

[code]
Though my master isn't 100% up to date with gfw
[code]

[2019-05-29 18:12] dscho commented on #237
@PhilipOakley I allowed myself to touch up the title of this ticket. Hope you don't mind?

[2019-05-29 18:26] dscho commented on #239
I think that the best way to address this is to choose the base commit wisely ;-)

The problems in your case stem from the fact that you based your patch directly on top of Git for Windows' `master`, but actually targeted Git's `master` (and due to the merging rebases, they are quite far apart from one another).

If you choose a tagged revision as base that is reachable from both, it is much easie

[2019-05-29 22:03] bbolli commented on #232
I think this was already implemented in 9d8db06eb4a5 ("grep.c: teach 'git grep --only-matching'", 2018-07-09).

[2019-05-30 11:40] dscho commented on #232
@bbolli indeed! Thank you!

[2019-05-30 11:40] #232 closed

[2019-05-30 12:29] dscho opened #240 "Fix flaky "t5516.81 deny fetch unreachable SHA1, allowtipsha1inwant=false""
This test seems to fail infrequently in our Azure Pipeline, apparently most often in the `msvc` job. See https://dev.azure.com/Git-for-Windows/git/_build/results?buildId=36820&view=ms.vss-test-web.build-test-results-tab for an example.

[2019-05-30 12:35] dscho opened #241 "Fix flaky "t0021.15 required process filter should filter data""
This test case seems to fail infrequently, most often in the `linux-gcc` job. See e.g. https://dev.azure.com/gitgitgadget/git/_build/results?buildId=9226&view=ms.vss-test-web.build-test-results-tab&runId=19716&resultId=100893&paneView=debug

[2019-05-30 12:50] dscho opened #242 "Split the `linux-gcc` in our CI builds into two separate jobs"
The `linux-gcc` job is a bit overloaded: it actually runs the test suite *twice*. Once with regular options, and once after setting all kinds of `GIT_TEST_*` options.

Since the running time is dominated by the test suite, not by the build, it would make more sense for those two runs to be run in parallel.

Therefore, let's split `linux-gcc` into two: a regular one, and on with all the extra optio

[2019-05-31 04:41] Denton-L opened #243 "Document --stdin (and other options in setup_revisions)"
Currently, Git accepts `--stdin` for the log family of commands. Well really, anything that calls `setup_revisions` from `revisions.c` and passes in its argv will implicitly have the `--stdin` option.

We should explicitly document this (and other) options.

[2019-05-31 04:49] Denton-L opened #244 "Fix formatting of config values in documentation"
Currently, in our config documentation, there are many inconsistencies with the way values are being marked up. [This patch](https://public-inbox.org/git/0e185c7c4b7ecb20631e1d330ce70ecf78427621.1557340984.git.liu.denton@gmail.com/) is a very small start but we should try to go through all of the `config/*.txt` files and mark up config values with surrounding backticks. This way, it'll be obvious

[2019-05-31 04:54] Denton-L opened #245 "Investigate -Wformat-signedness"
According to Peff, compiling with `-Wformat-signedness` might reveal some places where there output might be incorrectly formatted. (https://public-inbox.org/git/20190411234920.GA27914@sigill.intra.peff.net/)

Compile Git with -Wformat-signedness and fix some (or all) of these warnings? Maybe consider turning on the warning in `config.mak.dev` after these are fixed?

[2019-05-31 05:00] Denton-L opened #246 "Make Git subcommand documentation more consistent"
In remote's documentation, in the Synopsis, the subcommands (add, remove, etc...) are underlined and Commands section, they are also underlined.

In submodule, the subcommands are not underlined in both they Synopsis and the Commands sections.

In worktree, the subcommands are underlined in the Synopsis but not in the Commands section.

I'm sure there are other Git commands that have subcommands a

[2019-05-31 05:04] Denton-L opened #247 "format.outputDirectory should be based on the top of the repository"
Currently, if one has `format.outputDirectory` set, the output directory will be relative to wherever they've run the command, not the top of the repository. We should make it relative to the Git repository instead so that users don't end up creating patches in unintended locations.

Or maybe the current behaviour is desired and we should just force users to use an absolute path if they don't want

[2019-05-31 05:23] Denton-L opened #248 "Don't run Cocci on compat/ files that are pulled externally"
Since some files in compat/ are pulled externally, ideally we should not update them unless absolutely necessary. As a result, we should find what these files are and blacklist Cocci from being run on them.

One thing to consider, some files are Windows-only and are never Coccinelled whenever we compile on Windows. Do we want to make Cocci run on _all_ files, regardless of whether or not they're c

[2019-05-31 05:34] Denton-L opened #249 "Make `git diff ..` less confusing for newbies"
-phiresky [link](https://stackoverflow.com/questions/462974/what-are-the-differences-between-double-dot-and-triple-dot-in-git-com#comment93043850_463027)

The semantics of .. vs ... are essentially swapped between diff and the log family of commands. This is because diff uses `setup_revisions` but abuses the way that the returned endpoints are used.

There are several options to deal with this:

*

[2019-05-31 05:45] Denton-L opened #250 "Implement command-line options to change `branch.<name>.remote/pushRemote` configs"
Perhaps something like `--set-remote-to`, `--set-push-remote-to`, `--set-remote-save-to-push`?

For the last, this would behave similarly to f39a9c6547 (remote: add --save-to-push option to git remote set-url, 2018-12-10).

That option is useful for a situation such as mirroring. Consider if I wanted to mirror an upstream branch on my own remote. I would have something such as

[code]

in my confi

[2019-05-31 05:55] Denton-L commented on #200
This was closed by b582c1681e (Merge branch 'dl/ignore-docs', 2019-04-10).

[2019-05-31 10:49] dscho commented on #200
@Denton-L excellent, thanks!

[2019-05-31 10:49] #200 closed

[2019-05-31 11:32] dscho opened #251 "Turn the `fetch_if_missing` global into a field of `struct repository`"
It is high time that we reduced our globals, especially in light of finally having `struct repository` and working towards using it everywhere.

[2019-06-02 03:26] weekly-digest[bot] opened #252 "Weekly Digest (26 May, 2019 - 2 June, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 26 issues were created.
Of these, 2 issues have been closed and 24 issues are still open.
## OPEN ISSUES
:green_heart: #251 [Turn the `fetch_if_missing` global into a field of `struct repository`](https://github.com/gitgitgadget/git/issues/251), by [dscho](https://github.com/dscho

[2019-06-04 11:52] dscho opened #257 "Fix flaky t5516-fetch-push (test case 79 - deny fetch unreachable SHA1, allowtipsha1inwant=true)"
This seems to fail every once in a while, especially in Git for Windows' experimental MSVC job of our Azure Pipeline.

The issue seems to be that multiple processes report fatal errors at the same time, and our grep fails to verify that the expected error message was printed because they were interleaved. Example:

[code]

[2019-06-04 11:59] dscho opened #258 "Fix flaky t5504 (in test case 9 - push with transfer.fsckobjects)"
This seems to hit the `linux-gcc` job the most, *maybe* in the part where it runs the test suite with all kinds of `GIT_TEST_*` variables set to non-default settings.

See e.g. [`Attempt #1` of this `linux-gcc` run](https://dev.azure.com/gitgitgadget/git/_build/results?buildId=10106&view=logs&jobId=1f6ce3b7-a951-539a-a522-fbaaeab307c4&taskId=ec8367e0-c809-579c-af5f-fa27c0b49cdc&lineStart=2565&line

[2019-06-04 12:00] dscho commented on #257
Whoops, I already had opened https://github.com/gitgitgadget/git/issues/240 for this... Closing here.

[2019-06-04 12:00] #257 closed

[2019-06-04 12:01] dscho commented on #240
More information (from https://github.com/gitgitgadget/git/issues/257):

[2019-06-06 18:46] dscho opened #259 "Add support for drop!/reword! commits to `git rebase -i`"
This was already discussed briefly on the Git mailing list: https://public-inbox.org/git/alpine.DEB.2.21.1.1710151754070.40514@virtualbox/

In short, the reword! semantics are relatively easy in my mind: it would be called as

	git commit --reword <commit>

would take staged changes (if any), otherwise implicitly --allow-empty,
then create a commit message to be edited in this style:

	reword! <or

[2019-06-09 03:26] weekly-digest[bot] opened #260 "Weekly Digest (2 June, 2019 - 9 June, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 2 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #259 [Add support for drop!/reword! commits to `git rebase -i`](https://github.com/gitgitgadget/git/issues/259), by [dscho](https://github.com/dscho)
:green_heart:

[2019-06-09 08:20] #260 closed

[2019-06-14 08:24] johnlinp commented on #231
Since `--include-untracked` in `git stash` already has a short option `-u`, why do we want to add another short option `-A`?

[2019-06-14 20:10] dscho commented on #231
Maybe because it is confusing that the same mode has different short options for different commands? I mean, `git add -u` does something completely different than `git stash -u`?

[2019-06-16 02:29] johnlinp commented on #231
I see. Are you suggesting that `--include-untracked` in `git stash` should have 2 short options, `-u` and `-A`? Does any other long option has 2 short options in `git`?

[2019-06-16 03:26] weekly-digest[bot] opened #268 "Weekly Digest (9 June, 2019 - 16 June, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 0 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #267 [t3404: fix a typo](https://github.com/gitgitgadget/git/pull/267), by [dscho](https://github.com/dscho)
:green_heart: #266 [ci: split `linux-gcc` into `linux-g

[2019-06-17 07:59] #268 closed

[2019-06-17 14:02] dscho commented on #231
My personal preference would be to have one short option, and one that is consistent with all the other commands.

Whether this is the way forward will have to be hashed out when this ticket is addressed.

[2019-06-18 00:42] johnlinp commented on #231
If this is the case, I think we should remove the "good first issue" label from this issue since it has more impact than a "good first issue" should do.

[2019-06-23 03:26] weekly-digest[bot] opened #274 "Weekly Digest (16 June, 2019 - 23 June, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 1 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #273 [fetch: add --[no-]show-forced-updates](https://github.com/gitgitgadget/git/pull/273), by [derrickstolee](https://github.com/derrickstolee)
:green_heart: #272

[2019-06-24 03:20] johnlinp commented on #243
What are the "other options"? Can you please elaborate?

[2019-06-24 10:57] #274 closed

[2019-06-24 11:30] dscho commented on #243
I think those are all of the options that are parsed in [`revision.c`](https://github.com/git/git/blob/master/revision.c), in particular in [`handle_revision_opt()`](https://github.com/git/git/blob/8dca754b1e874719a732bc9ab7b0e14b21b1bc10/revision.c#L1967-L2309).

The idea being that an interested contributor who wants to pick this up would analyze carefully which options are still undocumented (a

[2019-06-27 13:21] #252 closed

[2019-06-30 09:59] weekly-digest[bot] opened #279 "Weekly Digest (23 June, 2019 - 30 June, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 1 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #277 [Update git-clone doc: refer to long option](https://github.com/gitgitgadget/git/pull/277), by [kenden](https://github.com/kenden)
:green_heart: #276 [t3420 re

[2019-07-01 08:59] #279 closed

[2019-07-07 09:59] weekly-digest[bot] opened #284 "Weekly Digest (30 June, 2019 - 7 July, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 0 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #283 [Follow-up on top of `js/mingw-use-utf8`](https://github.com/gitgitgadget/git/pull/283), by [dscho](https://github.com/dscho)
:green_heart: #282 [contrib/compl

[2019-07-08 11:55] #284 closed

[2019-07-14 09:59] weekly-digest[bot] opened #286 "Weekly Digest (7 July, 2019 - 14 July, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #285 [Update gpg.txt to correct gpg --verify syntax](https://github.com/gitgitgadget/git/pull/285), by [rtmorgan](https://github.com/rtmorgan)
## NOISY ISSUE
:speaker: #285 [Update gpg.txt to correct gpg --verify

[2019-07-14 23:13] webstech commented on #206
Are there four possible outputs to be filtered (<>=!)?  Maybe a --range-filter= option to allow one or more of:
U - unmerged (left only)
C - changed (right only)
M - merged
D - merged but not the same

These may not be the best terms but the help and the code do refer to the right side as the newer version.  --out-filter= may be more accurate but do not want to add an option that may get used for

[2019-07-15 11:44] #286 closed

[2019-07-21 09:59] weekly-digest[bot] opened #291 "Weekly Digest (14 July, 2019 - 21 July, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 0 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #290 [Travis CI: Lint for Python syntax errors and undefined names](https://github.com/gitgitgadget/git/pull/290), by [cclauss](https://github.com/cclauss)
:green_h

[2019-07-22 11:11] #291 closed

[2019-07-28 09:59] weekly-digest[bot] opened #297 "Weekly Digest (21 July, 2019 - 28 July, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 0 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #296 [Add the `REBASE_P` prerequisite to two more test cases](https://github.com/gitgitgadget/git/pull/296), by [dscho](https://github.com/dscho)
:green_heart: #295

[2019-07-29 18:16] #297 closed

[2019-08-01 07:11] johnlinp opened #302 "Add documentation for "git commit --date=now""
There are some special strings that we can pass to `--date` in `git commit`, e.g. `now`, `yesterday`, `noon`, `tea`...

Personally I think `--date=now` is the most useful because I will use it with `git commit --amend`. I guess we don't have to make an exhaustive list of special strings in the documentation, but I think we can at least mention `now`.

[2019-08-02 07:29] johnlinp commented on #243
I found that the file [`rev-list-options.txt`](https://github.com/git/git/blob/master/Documentation/rev-list-options.txt) contains the options that are parsed in revision.c, including `--stdin`. Currently it only appears in `git-log.txt` and `git-rev-list.txt`.

Is it a good idea to also put it into the git commands that support those options? Like `git-revert.txt`, `git-show.txt`, etc?

[2019-08-08 23:42] webstech commented on #234
Looking at implementing in fmt_ident in ident.c.  Are env vars GIT_{AUTHOR,COMMITTER}_{NAME,EMAIL}_DEFAULT acceptable?

Seems like the doc change could be bigger than the code change.

Suggestions on where to add test cases would be appreciated.

[2019-08-11 09:59] weekly-digest[bot] opened #310 "Weekly Digest (4 August, 2019 - 11 August, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 2 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #309 [doc: fix repeated words](https://github.com/gitgitgadget/git/pull/309), by [mark-rushakoff](https://github.com/mark-rushakoff)
:green_heart: #306 [Fix a probl

[2019-08-11 11:39] #310 closed

[2019-08-12 18:18] robstoll opened #311 "escape branch name with leading # in example of no upstream set"
say you have a branch named `#42-my-lovely-branch` and would like to push it but forgot to set the upstream branch. You get the following error message:
[code]
This cannot be copy & paste as `#42-my-lovely-branch` should be escaped with a backslash as follows:
[code]

As webtech mentioned here: https://github.com/gitgitgadget/gitgitgadget/issues/112

[2019-08-12 20:43] dscho commented on #311
Please note that most Git developers do not pay attention to this bug tracker, but _only_ to bug reports via [the Git mailing list](mailto:git@vger.kernel.org).

[2019-08-13 04:23] webstech commented on #311
Sorry for not redirecting you to the mailing list.

[2019-08-13 04:43] webstech commented on #242
Is this a split in azure or a split in make?  If the desire is to use make to run the test suites in parallel I can look at that.  There are test output location issues and success finalization issues to be resolved.  There may be similar issues with azure but am not familiar with them.

[2019-08-13 20:43] dscho commented on #242
Whoops, I should have mentioned that I started work on this here: https://github.com/gitgitgadget/git/pull/266 (see especially the discussion in https://public-inbox.org/git/pull.266.git.gitgitgadget@gmail.com/ for enlightenment about the reluctance to accept this).

[2019-08-14 04:57] webstech commented on #242
Sorry, I had missed your PR.  I played with a make implementation about the same time (just got around to asking about the issue and did not review the PRs).

The upside of make is a single build of git but that does not sound like the bottleneck.  Using parallel make also makes it easier for devs to just run make (all the special vars are target specific vars).  The downside of parallel make is f

[2019-08-18 09:59] weekly-digest[bot] opened #313 "Weekly Digest (11 August, 2019 - 18 August, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #312 [rebase -i: always update HEAD before rewording](https://github.com/gitgitgadget/git/pull/312), by [phillipwood](https://github.com/phillipwood)
:green_heart:

[2019-08-21 17:58] #313 closed

[2019-08-22 17:02] dakotahawkins opened #318 "Add config option corresponding to `--rebase-merges` flag"
In my workflow, while it's uncommon to encounter merge commits during a rebase operation, when they are encountered I pretty much always want this behavior. Since it's rare, I pretty much always forget to ask for it, with interesting and confusing consequences.

Is there any appetite for a `rebase.rebaseMerges` boolean that could drive the default for this option?

Thanks,

Dakota

[2019-08-23 12:24] dscho commented on #318
Good idea!!!

[2019-08-23 15:19] dakotahawkins opened #319 "[META] gitgitgadget/git is missing tags from git/git"
The latest version tag is `v2.18.0`, @dscho can you update whatever process you use to sync this fork?

Edit: Noticed this doing an initial `make configure` on _my_ fork of this.

[2019-08-23 17:22] Denton-L opened #320 "Emphasise the cherry-pick --skip option"
In the case of conflicts while cherry-picking, one can pass in the `--skip` flag and it'll skip the problematic patch. However, this option is not suggested by completions nor is it suggested when running `git status`, unlike when we're rebasing.

[2019-08-23 17:27] Denton-L commented on #243
I don't know the other builtin commands well enough to be able to tell if there would be any negative implications resulting in this change but if you're interested, I think it would be good to submit the patch and see what the mailing list thinks.

[2019-08-24 07:35] tgummerer commented on #241
https://public-inbox.org/git/20190820065625.128130-1-t.gummerer@gmail.com/

I think we're good to close this

[2019-08-24 08:41] Denton-L commented on #247
An experimental implementation of this: https://github.com/Denton-L/git/tree/experimental/format-output-relative-gitdir

[2019-08-24 21:54] dscho commented on #241
Good call! It already made it to `next`: https://github.com/git/git/commit/58166c2e9d9a3bbf6eee9e3e8710d92985e6edab, so I expect it to make it to `master` relatively soon (which is when GitGitGadget usually closes PullRequests, so I kinda thought about the same for issues, although that's a more manual process).

[2019-08-24 21:54] #241 closed

[2019-08-24 22:55] dscho commented on #234
That would be a good question to ask in reply to https://public-inbox.org/git/87in9ucsbb.fsf@evledraar.gmail.com/ (see instructions how to reply on the bottom of that page, or [our wiki page](https://github.com/gitgitgadget/gitgitgadget/wiki/ReplyToThis)).

[2019-08-25 09:59] weekly-digest[bot] opened #321 "Weekly Digest (18 August, 2019 - 25 August, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 0 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #320 [Emphasise the cherry-pick --skip option](https://github.com/gitgitgadget/git/issues/320), by [Denton-L](https://github.com/Denton-L)
:green_heart: #319 [[META

[2019-08-26 13:54] #321 closed

[2019-08-26 14:09] dscho commented on #319
Let's script this. Would you have time to come up with that script? It would compare the tags of two remotes, obtained via `ls-remote`, in my mind, and construct a `push` command-line from that diff. I would then copy this script into the automation that already mirrors the branches.

[2019-08-27 15:57] dscho commented on #319
It is a non-YAML build: https://dev.azure.com/gitgitgadget/git/_build?definitionId=8

I took the liberty of coming up with a simpler solution:

[code]

... and then pushing `$refspec` unless it is empty. See this run that synchronized the initial slur of tags: https://dev.azure.com/gitgitgadget/git/_build/results?buildId=15228

[2019-08-27 15:57] #319 closed

[2019-08-27 15:57] dscho commented on #319
(Of course, I realize that this will not synchronize tags unless a _branch_ triggers the build, as tag updates can only trigger YAML builds, but that's better than not synchronizing the tags at all.)

[2019-08-28 11:12] dscho commented on #319
About tags: agree, branches, we already force-push. Pruning is a different matter: this would potentially fail (or close PRs), so I would like to avoid that.

[2019-09-01 09:59] weekly-digest[bot] opened #326 "Weekly Digest (25 August, 2019 - 1 September, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 0 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #325 [checkout: add simple check for 'git checkout -b'](https://github.com/gitgitgadget/git/pull/325), by [derrickstolee](https://github.com/derrickstolee)
:green_h

[2019-09-02 12:45] #326 closed

[2019-09-05 09:09] dscho opened #331 "receive.denyCurrentBranch: respect all worktrees"
Currently, the `receive.denyCurrentBranch` config setting determines what Git should do when pushing a branch into a non-bare repository when said branch is checked out.

However, this setting was forgotten when the `git worktree` command was introduced: only the main worktree's current branch is respected.

For interested first contributors: use `git grep -i receive.denycurrentbranch` and follow

[2019-09-06 07:26] borekb opened #333 "[META] Are GitHub issues in this repo considered "official"?"
Though I'm now relatively old and have been around when mailing lists were the primary tool for most OSS projects, I never really liked them or understood how to use them efficiently. So it was exciting to me when I encountered this GitHub repo!

I've noticed it's used not only for pull requests (as noted on https://gitgitgadget.github.io/) but there are also some issues being created here, and th

[2019-09-08 09:59] weekly-digest[bot] opened #336 "Weekly Digest (1 September, 2019 - 8 September, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 9 issues were created.
Of these, 0 issues have been closed and 9 issues are still open.
## OPEN ISSUES
:green_heart: #335 [Fix perl error "unescaped left brace in regex" for paranoid update hook](https://github.com/gitgitgadget/git/pull/335), by [flexarts](https://github.com/flexa

[2019-09-09 22:46] dscho commented on #333
No, they are not official.

But this answer is not official, either.

You need to ask on the Git mailing list.

[2019-09-09 22:46] #333 closed

[2019-09-09 23:22] #336 closed

[2019-09-15 09:59] weekly-digest[bot] opened #338 "Weekly Digest (8 September, 2019 - 15 September, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #337 [multi-pack-index: add --no-progress](https://github.com/gitgitgadget/git/pull/337), by [wilbaker](https://github.com/wilbaker)
## NOISY ISSUE
:speaker: #337 [multi-pack-index: add --no-progress](https://gith

[2019-09-16 19:59] #338 closed

[2019-09-17 17:50] dev-shubham1 commented on #251
I am Shubham Ghule.I am new to Open source.If no one is working on this issue I would like to solve this issue.

[2019-09-18 09:28] Denton-L commented on #320
Currently cooking here: https://github.com/gitster/git/commits/dl/complete-cherry-pick-revert-skip

[2019-09-18 09:33] Denton-L opened #339 "Complete git worktree"
When someone types `git worktree add <path> <TAB>` it should complete a list of branches and tags since we're expecting commit-ishes.

More ambitiously, when someone types `git worktree {lock,move,remove,unlock} <TAB>`, we should complete with a path to all worktrees. Perhaps, this might most easily be done by implementing `git worktree list --relative-path` which will print out the relative path

[2019-09-18 09:37] Denton-L opened #340 "Add a "summary" pretty format"
According to Documentation/SubmittingPatches,

[code]

But why must we manually enter this format? It seems commonplace enough that we should be able to specify something like `git show -s --pretty=summary` and it'll do the same thing.

One thing to consider: can we override the configured date settings? If a user _doesn't_ provide a --date option, can we automatically assume --date=short?

[2019-09-18 09:39] Denton-L commented on #248
Currently being cooked here: https://github.com/gitster/git/commits/dl/cocci-everywhere

[2019-09-18 21:00] Denton-L opened #343 "Add support for Co-authored-by: in commit"
Since [GitHub supports the Co-authored-by: trailer](https://github.blog/2018-01-29-commit-together-with-co-authors/), I'd say it's a defacto standard.

Perhaps we could add an option such as `git commit --coauthor="John Smith <js@something.com>"  --coauthor="Smith John <sj@something.com>"` which would automatically add the trailers. This should happen right before the SOB lines.

Things to conside

[2019-09-18 22:09] Denton-L opened #344 "Add a commit.signOff config feature"
When committing, this should act like --signoff is given on the command-line (unless --no-signoff is given).

Notes:

* we have to document --no-signoff in commit
* do we other commands to learn this as well? (rebase.signOff? merge.signOff?)

[2019-09-19 08:22] dscho opened #345 "CI: Teach our Azure Pipeline to run `sparse`"
One of the earliest open source static analyzers is `sparse`, and occasionally Ramsay Jones sends out mails on the Git mailing list that some function or other should be declared `static` because `sparse` found out that it is only used within the same file.

Let's add a job to our Azure Pipeline to also run `sparse`. There is now a build offering an Ubuntu package of `sparse` as build artifact: ht

[2019-09-19 08:41] dscho opened #346 "See whether Facebook's Infer static analyzer is useful within Git's context"
Git has a subscription with Coverity, and it helped find a few bugs, but the list of issues is not public (Coverity limitation) and it is littered with false positives (Coverity _really_ does not like what we do with the empty string in `STRBUF_INIT`, for example, assuming that we will write into it upon `strbuf_add()`).

Facebook came up with a static analyzer based on Clang (but it also requires

[2019-09-19 13:40] dev-shubham1 commented on #251
Hello Git contributors
I am Shubham Ghule.I am an engineering student.I am new to an open source and I am excited to contribute to Git.
I have tired various options to solve #251 bug and came up with a solution.This patch will convert the extern integer 'fetch_if_missing' into a field of 'struct repository'.
I would really like to submit the patch.
I am looking forward to your review.
Thanks!
Shub

[2019-09-21 18:12] sam09 commented on #331
Can I pick this up? First time contributor here, so not sure what's the correct way to get is assigned to me.

[2019-09-22 09:00] dscho commented on #331
@sam09 sure, go ahead! ;-) (In this project, nobody assigns projects to contributors...)

[2019-09-22 09:01] dscho commented on #251
@dev-shubham1 no need to ask for permission ;-)

[2019-09-22 09:59] weekly-digest[bot] opened #350 "Weekly Digest (15 September, 2019 - 22 September, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 11 issues were created.
Of these, 2 issues have been closed and 9 issues are still open.
## OPEN ISSUES
:green_heart: #349 [git-add--interactive.perl: Add progress counter in the prompt](https://github.com/gitgitgadget/git/pull/349), by [kunaltyagi](https://github.com/kunaltyagi)

[2019-09-23 11:06] #350 closed

[2019-09-26 11:41] dscho opened #357 "Turn more preprocessor constants into enums"
In Git's source, code, there are a number of constants such as:

[code]

In recent years, the Git project started preferring `enum` values instead, for added type safety and to allow stronger reasoning via static analysis.

Even values that are intended to be used in bit fields can benefit from this, e.g.

[code]

As there are too many instances of this kind in Git's source code, a good first issu

[2019-09-27 06:46] Denton-L opened #362 "Fix colouring for octopus merges when doing `git log --graph`"
See [here](https://public-inbox.org/git/20190926202326.GA16664@sigill.intra.peff.net/T/#m58aecb7e27266d34fc094584c00afa1226d38224) for more details.

[2019-09-27 06:54] Denton-L opened #363 "t7030 is flaky on MacOS"
See [here](https://public-inbox.org/git/20190916235149.GA96478@dentonliu-ltm.internal.salesforce.com/T/#u) for more details.

[2019-09-27 17:26] Denton-L opened #364 "Implement `fs.caseInsensitive` in .gitattributes"
This feature should make it easier for our case-sensitive and non-case-sensitive friends to work together.

If this option is enabled in the .gitattributes file, it should not allow a user on a case-sensitive filesystem to add files to the index that may collide on a non-case-sensitive system (e.g. `asdf` and `Asdf`).

Also, we should warn or die when creating a merge that causes a name collision

[2019-09-27 17:51] Denton-L opened #365 "Teach Git to warn about name collisions on case-insensitive filesystems"
Consider the following on a case-insensitive filesystem:

[code]

In the above, Git simply reports that one of the two files has changed, but perhaps we could do something like this:

[code]

and

[code]

or something like that? Either way, we shouldn't be blindly ignoring the fact that a collision has happened but we should warn users explicitly so that they're aware.

[2019-09-29 07:32] weekly-digest[bot] opened #366 "Weekly Digest (22 September, 2019 - 29 September, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 15 issues were created.
Of these, 2 issues have been closed and 13 issues are still open.
## OPEN ISSUES
:green_heart: #365 [Teach Git to warn about name collisions on case-insensitive filesystems](https://github.com/gitgitgadget/git/issues/365), by [Denton-L](https://github.com/D

[2019-09-30 08:32] #366 closed

[2019-09-30 17:27] Denton-L commented on #320
Merged here: https://github.com/gitster/git/commit/21db12c9ea572a34bd9d4388135b1a9553c28133

[2019-09-30 17:27] #320 closed

[2019-10-01 12:50] dscho commented on #320
Great!

FWIW you can close these gitgitgadget/git issues by adding a line `This fixes <URL>` into the commit message. Worked for me in the past ;-)

[2019-10-01 19:39] Denton-L opened #371 "Teach git apply to provide more descriptive error messages"
Currently, when running `git apply` or `git am`, the error message is infuriatingly bad. It reports something like `error: corrupt patch at line 62` and just dies.

We could help users out by providing more information on why it dies. Unexpected character? Too many lines? Too few lines? Something else? Anyway, let's try to avoid dying without giving users a bit more to work with.

[2019-10-02 17:34] dscho commented on #357
Correction: in https://public-inbox.org/git/xmqqsgobg0rv.fsf@gitster-ct.c.googlers.com/, the Git maintainer frowned upon using `enum`s for bit field values. So let's _not_ convert those.

[2019-10-02 18:46] Denton-L opened #374 "Fix incorrectly reported line numbers when running `git am`"
See [this report](https://public-inbox.org/git/20191002184546.GA22174@generichostname/T/#u) for more details.

[2019-10-02 20:08] dscho commented on #374
Pasted here for convenience:

[code]

[2019-10-06 07:32] weekly-digest[bot] opened #377 "Weekly Digest (29 September, 2019 - 6 October, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 10 issues were created.
Of these, 0 issues have been closed and 10 issues are still open.
## OPEN ISSUES
:green_heart: #376 [[guitool] feature to specify keyboard shortcuts for custom tools](https://github.com/gitgitgadget/git/pull/376), by [harish2704](https://github.com/harish27

[2019-10-06 10:40] #377 closed

[2019-10-07 20:07] harry-hov commented on #357
we have to convert every single preprocessor constant into `enum` ? (except bit field values)

[2019-10-08 07:02] dscho opened #379 "Replace more instances of `the_index` and `the_repository`"
Once upon a time, Git was intended to be just like all the other simplistic Unix utilities, a set of commands to be cobbled together by shell scripts. In those times, it was (deemed) okay to cut corners, using global variables all over the place, and leaving it to `exit()` to "clean up" allocated memory.

In the meantime, Git has matured a lot, and most of its code is in proper C, and quite some o

[2019-10-08 07:08] dscho commented on #357
We don't _have_ to 😀

But it would be nice to make older code consistent with newer coding conventions, no? And when breaking it apart into the individual `enum`s to be created, this kind of project is small enough to allow first-time contributors to "get their feet wet", so to say, i.e. to make themselves familiar with the process and style of Git's code contributions.

[2019-10-08 08:05] To1ne commented on #343
I've sent a patch for this https://public-inbox.org/git/20191008074935.10972-1-toon@iotcl.com/T/#u

[2019-10-08 08:14] Denton-L commented on #374
Initial patch here: https://public-inbox.org/git/ec38908d05f0d40190173158ef3f0753fa9f1184.1570226253.git.liu.denton@gmail.com/

[2019-10-08 14:26] harry-hov commented on #357
Looks good issue for me to getting started. 😄

[2019-10-09 12:01] dscho commented on #357
Cool!

Do keep in mind that you do not need to do _all_ of them. Just pick one, for a start.

[2019-10-10 08:13] aviskarkc10 commented on #379
I don't have a lot of experience working in C but can I claim this?

[2019-10-10 09:19] dscho commented on #379
Excellent, "good first issue" is meant for exactly this case.

Sure, why don't you start `git grep the_index` or `git grep the_repository` and pick one file (as long as there are any matches other than `builtin/*.c`, you probably want to focus on those other matches)? You don't have to do _all_ of them, that would be way too much.

I could even imagine that one file would also be too much, as ther

[2019-10-10 09:23] aviskarkc10 commented on #379
Sure. Thanks a lot.

[2019-10-10 11:19] dscho opened #386 "Teach `git diff --color-words` to be helpful when there are merge conflicts"
Note: this project is technically challenging, as it touches two complex parts of Git's code: the diff machinery and the staging area/worktree with conflicts.

The `--color-words` option allows visualizing differences between two file versions on a word-level (rather than a line-level).

Currently, the `--color-words` option is totally ignored when visualizing merge conflicts in a worktree. All co

[2019-10-10 12:55] dscho commented on #248
Done cooking. It's in `master`.

[2019-10-10 12:55] #248 closed

[2019-10-10 12:57] dscho commented on #311
@robstoll did you send your bug report?

[2019-10-10 13:01] robstoll commented on #311
@dscho nope, I guess it's not important enough for me. So close the issue if you like

[2019-10-10 18:18] Denton-L commented on #362
#383 is fixing this, exciting stuff!

[2019-10-10 20:51] dscho commented on #311
I will close it for you. Next time, feel free to do that yourself, though.

[2019-10-10 20:51] #311 closed

[2019-10-13 07:32] weekly-digest[bot] opened #393 "Weekly Digest (6 October, 2019 - 13 October, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 15 issues were created.
Of these, 1 issues have been closed and 14 issues are still open.
## OPEN ISSUES
:green_heart: #392 [[PoC] ci: Homebrew strikes again, let's try some workarounds on an older version](https://github.com/gitgitgadget/git/pull/392), by [szeder](https://github.

[2019-10-13 10:03] agrn opened #394 "merge: add a --autostash option"
`git-rebase` has a `--autostash` option to save unstaged changes before performing a rebase, and to restore them afterwards.  Perhaps it could be interesting to add the same option to `git-merge`.  Perhaps `git-stash` could be libified before we get down to this?

This was brought up in a discussion with a coworker of mine, where we talked about `rebase --autostash`, and I naïvely said “well, merg

[2019-10-13 10:04] agrn opened #395 "rebase: drop get_replay_opts()"
The builtin rebase stores its option to a `struct rebase_options`, but the sequencer wants a `struct replay_opts`.  So, before starting an interactive rebase, the former must be converted to the latter.  That’s what get_replay_opts() is all about.  Instead of that, it could be cleaner to remove the redundancies between `struct rebase_options` and `struct replay_opts`, and then to get rid of get_re

[2019-10-13 10:42] agrn commented on #199
I just tried to reset to a tag with `git rebase -ir` and it worked, what am I missing here?

[2019-10-13 22:14] dscho commented on #199
Did you issue something like `reset v2.23.0`? In my case, this failed, but I did not re-try recently, I have to admint.

[2019-10-14 11:10] #393 closed

[2019-10-14 11:28] dscho opened #398 "Teach strbuf a new trick: STRBUF_INIT_CONST("default")"
From https://public-inbox.org/git/nycvar.QRO.7.76.6.1806210857520.11870@tvgsbejvaqbjf.bet/:

This new way to initialize an `strbuf` would set `buf` to the specified constant string, the appropriate `len = strlen(string)`, and `alloc` to `0`.

That way, we can initialize strbufs with constant values, only allocating memory when/if needed.

We will need to be careful to revisit all `strbuf_*()` func

[2019-10-14 12:04] dscho opened #399 "Get rid of the `PRIuMAX` guard in `git-compat-util.h`"
As mentioned in https://public-inbox.org/git/xmqqsgzr2nkk.fsf@gitster-ct.c.googlers.com/t/#u:

The `%lld` format is supported on Linux and macOS, but not on Windows. Therefore, we use `PRIdMAX` instead and a cast the parameter to `intmax_t`.

The fact that `PRIdMAX` is used without any fallback definition in `git-compat-util.h` is a pretty good sign that we can drop the fallback for `PRIuMAX`, too

[2019-10-14 15:03] agrn commented on #199
Hmm, I tried to reset to a lightweight tag and it worked (on v2.23.0), but I just tried to reset to an annotated tag and it failed.  Now I understand.

[2019-10-15 03:21] jpninanjohn commented on #302
I can do this. Can someone please point me to where the docs are kept?

[2019-10-15 14:05] dscho commented on #302
Gladly: https://github.com/git/git/tree/v2.23.0/Documentation/

You will probably see very quickly where the patch needs to go ;-)

[2019-10-16 11:39] dscho opened #403 "Consider ways to help with `git switch @{-<n>}` where `<n>` is unknown"
There is a very convenient way to switch back to the previous n-th branch in the current worktree, e.g. after `git switch next; git switch pu; git switch master; git switch --detach`, `git switch @{-3}` switched to `next` (i.e. the 3rd-last branch in this worktree).

I frequently forget which branches I checked out, in which order, though, so I would need some help with determining the correct `n`

[2019-10-16 17:27] Denton-L commented on #394
RFC here: https://public-inbox.org/git/cover.1571246693.git.liu.denton@gmail.com/T/#t

[2019-10-17 18:34] Denton-L commented on #339
Szeder has a WIP here: https://public-inbox.org/git/20191017173501.3198-1-szeder.dev@gmail.com/T/#m4eacfd0f3b97366067395896bdadb3afa633336f

[2019-10-18 11:26] dscho opened #406 "Add a build option to skip linking all those built-ins to their dashed form"
Once upon a time, in a galaxy far, far away, a Git version still was developed under the impression that it should consist of little Unix tools that are cobbled together by Unix shell scripts. In those olden days, all of those tools lived in the `PATH`, using names that all started with `git-` and it was a great hodge podge that Unix graybeards were prone to love: almost a hundred executables clut

[2019-10-20 05:12] jpninanjohn commented on #302
https://github.com/gitgitgadget/git/pull/408

I have raised a pull request for it. I am not sure if I have fulfilled the commit message requirements correctly. Do tell if there is anything I have to correct.

[2019-10-20 07:32] weekly-digest[bot] opened #409 "Weekly Digest (13 October, 2019 - 20 October, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 14 issues were created.
Of these, 0 issues have been closed and 14 issues are still open.
## OPEN ISSUES
:green_heart: #407 [vreportf: Fix interleaving issues, remove 4096 limitation](https://github.com/gitgitgadget/git/pull/407), by [SyntevoAlex](https://github.com/SyntevoAlex)
:

[2019-10-21 07:38] #409 closed

[2019-10-24 19:45] prati0100 opened #422 "git-gui: Allow selective staging and reverting on "added files""
Denton suggested on the list that I put my TODO list over here so other people can see it and maybe even fix them. So I'm writing some descriptions for them and adding them here.

If a file's state is "added" (IOW, it has the flag 'A'), it is not displayed as a diff. Instead, the content is shown directly. While that makes it easier to read the file (easier than reading a diff anyway), it makes it

[2019-10-24 20:01] prati0100 commented on #422
On second thought, it is probably a better idea to have these issues on [my repo](https://github.com/prati0100/git-gui) since it is also on GitHub.

So, I'm closing the issue here, and creating a copy on my repo.

[2019-10-24 20:01] #422 closed

[2019-10-25 12:10] dscho opened #426 "builtin/commit: replace `sequencer_in_use`/`rebase_in_progress` combo by an `enum`"
In 116a408b6ffcb2496ebf10dfce1364a42e8f0b32, I introduced the variable `rebase_in_progress` to be able to discern between the situation where a `git cherry-pick` operation resulted in an empty patch vs a `git rebase` operation.

Junio pointed out in `https://public-inbox.org/git/xmqqr234i2q0.fsf@gitster-ct.c.googlers.com/` that these variables should probably be combined into a single `enum` that

[2019-10-25 23:50] Denton-L opened #429 "Move t0050: 'checkout with no pathspec and a case insensitive fs' to an appropriate place"
SZEDER Gábor writes [here](https://public-inbox.org/git/20191007180409.GD11529@szeder.dev/):

[2019-10-26 05:47] patrick-mcdougle opened #431 "revert in rebase -i [RFC]"
This is a request for comments [RFC] of a feature which would extend interactive rebase's todo list to add a new `revert` command.

### The Problem
Let's say you are working on a feature branch based off of master called `my-feature`. You work on your feature and you think it's all ready to be merged into master...

[code]

Then you merge to master only to revert (using Ø to denote a revert) becau

[2019-10-27 10:18] Denton-L commented on #431
Hmm, this can already be done putting `break` and then manually running `git revert`. Would that suffice or does adding the `revert` command add anything in addition to that? You could ask the mailing list but I think that it wouldn't receive much love since it doesn't seem to add any additional value.

[2019-10-27 11:36] dscho commented on #431
You could also insert a line `exec git revert <hash>`.

I fear, however, that the _underlying_ issue is that the rebase starts by generating a list of commits based on the commit graph, and the original commit simply is part of the commit history reachable from `master`.

The most common way to continue in this situation is to re-create the branch by rebasing (which skips the original commit) and

[2019-10-28 17:15] patrick-mcdougle commented on #431
It seems like break certainly covers this case...now to figure out how to upgrade git on my mac...

[2019-10-28 17:15] #431 closed

[2019-10-30 13:29] dscho commented on #240
This problem is related, but not identical, to the broken pipe issue on macOS for which a tentative fix was presented in https://public-inbox.org/git/20190830121005.GI8571@szeder.dev/.

[2019-10-30 20:16] Denton-L opened #439 "Teach git bisect `--first-parent`"
Bisect is a really useful feature when most of the commits are testable. However, in many GitHub users' workflow model, PRs are first-class while individual commits don't really matter that much so individual commits in a topic branch may not be testable but the first-parent of the master branch _would_ be.

Teach git bisect the `--first-parent` option to only bisect on first-parents.

This featur

[2019-10-30 20:18] Denton-L commented on #340
A draft exists here: https://github.com/Denton-L/git/tree/ready/pretty-summary

Waiting on the v2.24.0 to release then I'll submit it.

[2019-10-30 21:06] dscho commented on #439
There also has been a PR at https://github.com/git/git/pull/484 as well as [a patch submission on the Git mailing list](https://public-inbox.org/git/20180828123234.44582-1-tiagonbotelho@hotmail.com/), which I am very disappointed to see abandoned.

Maybe a more active contributor (or at least a contributor who is more interested in receiving help to improve their patches) sees fit to pick it up an

[2019-10-30 21:19] dscho commented on #439
I just confirmed via [a quick search](https://public-inbox.org/git/?q=first-parent+bisect) that this was the latest iteration sent.

All of the offered concerns still hold true:

- The added regression test totally mismatches the existing tests, and refuses to use any part of the `setup` test case.
- Some parts of the patch are woefully underexplained in the commit message, namely
[code]
- The pat

[2019-11-02 03:59] workingjubilee commented on #439
No promises! But I'll take a look at this. It's kind of fun to do this cleanup work.

[2019-11-04 10:13] To1ne commented on #439
cc @tiagonbotelho

[2019-11-04 12:08] dscho commented on #439
@To1ne Tiago is the person who opened https://github.com/git/git/pull/484 (and indicated that they are no longer interested in pursuing it, or no longer have time, or both).

[2019-11-04 15:49] Denton-L commented on #363
Another log here:

[code]

[2019-11-04 16:00] dscho commented on #363
Any indication what's in `actual` after that?

[2019-11-04 16:06] Denton-L commented on #363
Unfortunately not. I was cleaning up some old files in my directory and I found this one so I decided to throw it here. The original `actual` is long gone.

[2019-11-04 17:53] workingjubilee commented on #439
It required several updates just to bring in the recommended fixes and make the code conform with new changes in the project (since, well, it was a year), but now I am currently in the process of documenting my iteration on the patch.

[2019-11-04 20:22] Denton-L commented on #340
Submitted here: https://public-inbox.org/git/cover.1572897736.git.liu.denton@gmail.com/T/#t

[2019-11-05 08:05] workingjubilee commented on #439
Success! It is a good day to ~~die~~ get constructive criticism!  https://public-inbox.org/git/20191105052141.15913-1-workingjubilee@gmail.com/T/#mffc30f9c2160311caed122ba4132a76a8da1f6e7

[2019-11-08 03:28] fcharlie opened #457 "Protocol v2: The wrong --shallow-since time format causes git to wait indefinitely"
Recently, when I tested my Git Over HTTP server, I found a bug in Git. When we used git -c protocol.version=2 clone --shallow-since , if the time format is wrong, it will cause git to wait indefinitely.

Github supports Wire Protocol to reproduce, Gitlab does not support it and does not reproduce it.

The commands that can be retried are as follows:

[code]
We can see that the server closes the HT

[2019-11-08 10:18] dscho commented on #457
@fcharlie good find. Would you terribly mind reporting this to the Git mailing list at git@vger.kernel.org (no HTML mails, please, they will bounce)?

[2019-11-08 12:38] fcharlie commented on #457
@dscho Thanks. When I switched Outlook to plain text format, it seems to have been successfully sent.

[2019-11-13 00:51] Denton-L commented on #457
Hi @fcharlie, I looked on public-inbox but I couldn't find the thread you made. Would you mind resending the report please?

Thanks!

[2019-11-13 00:52] fcharlie commented on #457
@Denton-L  OK.

[2019-11-13 00:56] fcharlie commented on #457
@Denton-L Sorry, maillist rejected my email

[code]

[2019-11-13 01:07] Denton-L opened #462 "libify fmt_merge_msg() properly"
This is some #leftoverbits.

We should extract `fmt_merge_msg()` and all its dependent functions and variables into a new `fmt-merge-msg.c` file at the root of the repository. We should also move `fmt_merge_msg_opts` and `fmt_merge_msg` from `builtin.h` to `fmt-merge-msg.h`.

[2019-11-13 12:18] dscho commented on #457
@fcharlie that is not okay. We pride ourselves in our openness by choosing such an accessible medium as emails for collaboration, and then we just lock out a large swath of contributors, just like that. That makes me very sad.

[2019-11-19 23:24] Denton-L commented on #457
Thread here: https://public-inbox.org/git/tencent_AB1A7466D1F2EF9A84B437705F06A7652709@qq.com/#t

[2019-11-21 23:12] harry-hov commented on #399
Looking forward to this 😀

[2019-11-22 12:49] dscho commented on #399
@harry-hov this is a really easy one. How about giving it a try?

[2019-11-23 01:20] Denton-L opened #471 "Consolidate test_cmp_graph logic"
This logic is duplicated many times in

* t3430-rebase-merges.sh
* t4202-log.sh
* t4214-log-graph-octopus.sh
* t4215-log-skewed-merges.sh

Perhaps we could throw it all into a new `lib-log-graph.sh`?

[2019-11-23 20:32] dscho commented on #471
Sounds like a good plan to me, and like a good first issue.

[2019-12-04 23:00] Denton-L commented on #362
Closed via 0be5caf97ce1ad5f3c10ac00875f9aaf4939339d.

[2019-12-04 23:00] #362 closed

[2019-12-06 10:10] dscho opened #485 "Figure out why t7112 is flaky on Windows"
Our Azure Pipeline fails every once in a while in the test case "t7112.19 git reset --hard --recurse-submodules: added submodule is checked out " or in the test case "t7112.31 git reset --hard --recurse-submodules: replace submodule with a directory ", only on Windows, and seemingly always with an error message like this:

[code]

The exact directory differs from failed run to failed run, but it s

[2019-12-06 13:38] dscho opened #486 "Stop refusing to run `git bisect` from a subdirectory"
We never bothered to prevent `git rebase` to run in a subdirectory, and that would have the same ramifications as running `git bisect` from a subdirectory. So the latter's insistence on being run from the top-level directory does not actually make sense.

[2019-12-07 00:00] Denton-L commented on #399
Closed by e547e5a89e (Merge branch 'hv/assume-priumax-is-available-anywhere', 2019-12-05).

[2019-12-07 16:27] dscho commented on #399
@Denton-L once you accept the invitation I just sent, you should have the permission. I'll leave this issue open so you can try?

[2019-12-07 19:42] Denton-L commented on #399
Thanks, it works!

[2019-12-07 19:42] #399 closed

[2019-12-13 00:30] Denton-L opened #491 "contrib/credential/netrc: allow configurable PERL_PATH"
Currently, this script hardcodes the Perl interpreter as `/usr/bin/perl`. However, like the other Perl scripts in Git, we shouldn't assume that Perl lives there necessarily.

~This can be done by renaming git-credential-netrc to git-credential-netrc.perl and then copying the relevant snippets over from the main Makefile.~

mw-to-git currently does this. We can borrow their approach here.

[2019-12-14 07:17] Denton-L opened #492 "contrib/credential/netrc: work outside of a git repository"
Currently, when running outside of a git repository, we get `fatal: Not a git repository: . at /usr/share/perl5/vendor_perl/Git.pm line 214.`

There's no reason why we _need_ to be in a git repository so we should lift this restriction.

[2019-12-16 21:34] Denton-L commented on #492
Patch here: https://lore.kernel.org/git/d22eb1f9e2431199f1b6bea2aefe8473284e966e.1576531851.git.liu.denton@gmail.com/

[2019-12-16 21:34] Denton-L commented on #491
Patch here: https://lore.kernel.org/git/fb01e34ec1c19dfac353f85e0f1b8162f1ca2434.1576531851.git.liu.denton@gmail.com/

[2019-12-24 12:38] Denton-L commented on #247
Submission here: https://public-inbox.org/git/9422e4225143b2b908bd1fed9a510b9333bf34a2.1577191015.git.liu.denton@gmail.com/

[2019-12-29 10:49] weekly-digest[bot] opened #501 "Weekly Digest (22 December, 2019 - 29 December, 2019)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 0 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #500 [sparse-checkout: list directories in cone mode](https://github.com/gitgitgadget/git/pull/500), by [derrickstolee](https://github.com/derrickstolee)
:green_hea

[2019-12-29 11:46] #501 closed

[2019-12-31 09:36] phil-blain opened #505 "Pickaxe : i"

[2020-01-06 14:17] Denton-L commented on #344
Implementation here: https://lore.kernel.org/git/20200105174127.9278-1-hji@dyntopia.com/T/#m6b7b2afa3df5bbf5a7c10fc171fb0507115d1b74

[2020-01-06 16:41] nirmalhk7 commented on #486
I would love to take this issue, but I still cant find how does Git realise the subdirectory the user is present in. Is there any C file, script or documentation that I could refer for this?

[2020-01-06 23:06] dscho commented on #486
The easiest method is to use Git itself, in a worktree that contains a clone of https://github.com/git/git:

[code]

This will show you that the message comes from here: https://github.com/git/git/blob/v2.24.1/git-sh-setup.sh#L373

This line is within [the `git_dir_init()` function](https://github.com/git/git/blob/v2.24.1/git-sh-setup.sh#L365-L382), which is called [directly afterwards](https://gi

[2020-01-09 14:30] dscho opened #519 "Accelerate rename detection and range-diff"
When detecting renames between `m` and `n` files, as well as when it detects similarities in `git range-diff` between `m` and `n` commits, Git currently performs `m` times `n` comparisons, which is quite expensive for larger `m` and `n`.

There are a number of ways to accelerate that, primarily by pre-processing the file contents/commits and then trying to find correspondences in a more guided man

[2020-01-14 19:23] harry-hov commented on #486
Hey @nirmalhk7,
Are you still on it ??
If not, I would like to take this one.

[2020-01-15 09:44] dscho commented on #519
I just noticed that @newren is [scheduled to speak at Git Merge 2020](https://git-merge.com/#schedule-morning) about "Scaling the Merge Machinery". The link https://git-merge.com/scaling-the-merge-machinery is not yet populated, apparently, but in a promotional email, I saw this description:

This talk is therefore at least _related_ to what is described in this here ticket.

[2020-01-16 17:55] Fmstrat commented on #426
I'd like to take this on.

[2020-01-16 20:19] Fmstrat commented on #426
@dscho So I wrote a patch that does this, however the DCO is proving problematic. GitHub is giving me the message saying there is no signoff, but I think it is because my GitHub username is not my full name (Full name is mentioned as the requirement in the SubmittingPatches doc).

Should I allow it to use Fmstrat instead of my full name?

https://github.com/gitgitgadget/git/pull/531

[2020-01-16 20:40] dscho commented on #426
Can you make sure that your `user.name` and `user.email` are set correctly, and then call `git commit --amend --reset-author`, then force-push? That should pacify the DCO bot.

[2020-01-17 11:50] Fmstrat commented on #426
So now that the PR is approved, out of curiosity (having never contributed to `git`) what is the standard timeline for GitGitGadget's push to the mailing list and follow through?

And is this the best place to continue to look for issues I can contribute through? (I wasn't sure if the issue tracker here was the master list)

[2020-01-17 12:21] dscho commented on #426
That means nothing ;-)

Well, at first you will have to `/submit` it (as described in [GitGitGadget's welcome message](https://github.com/gitgitgadget/git/pull/531#issuecomment-575328781))... before that, your contribution was not seen by the Git mailing list (my review on GitHub does not count, the Git project is not run on GitHub, this repository is a mere mirror of the official repository at gi

[2020-01-17 13:37] Fmstrat commented on #426
@dscho Yea, I'm blind, sorry about that. Thanks for all your help as I get up to speed here.

So I'm getting new errors related to the commit author now. The bot is reporting
[code]
I see it is pulled from the commit name here: https://github.com/gitgitgadget/gitgitgadget/blob/b452884464a2bf09069cb494d5fcd5276f7db3ea/lib/github-glue.ts#L353

But I'm not entirely sure where that is coming from. The

[2020-01-17 22:13] harry-hov commented on #331
I was able to figure out that the `receive.denyCurrentBranch` config setting modifies the behavior here: https://github.com/gitgitgadget/git/blob/master/builtin/receive-pack.c#L173

the [`parse_deny_action()`](https://github.com/gitgitgadget/git/blob/master/builtin/receive-pack.c#L173) function assigns the variable [`deny_current_branch`](https://github.com/gitgitgadget/git/blob/master/builtin/rec

[2020-01-18 00:00] dscho commented on #331
The code that is supposed to check whether the branch is checked out is here: (you could find that by using `git grep -C5 deny_current_branch`): https://github.com/gitgitgadget/git/blob/232378479ee6c66206d47a9be175e3a39682aea6/builtin/receive-pack.c#L1040.

A more tricky thing, however, is the `updateInstead` value of `receive.denyCurrentBranch`. For this, the [`is_ref_checked_out()` function](htt

[2020-01-18 00:01] dscho commented on #331
Oh yeah, and you will want to implement a test case or two before starting to patch the code.

[2020-01-18 21:53] harry-hov commented on #331
assign worktree type parameter with `find_shared_symref();`
correct ?

I am also having trouble with writing test cases. I would like to have reference regarding that.

[2020-01-19 08:55] dscho commented on #331
That _should_ work, yes.

There should already be a test case about the `denyCurrentBranch = updateInstead` setting. Why don't you `git grep` your way to find it, and then read, understand and imitate it?

[2020-01-20 16:19] seraphire opened #534 "git-p4: Provide a hook before editing the P4 changelist is presented to the user"
Our company's workflow requires that our P4 check-in messages have a specific format. A helpful feature in the GIT-P4 program would be a hook that occurs after the P4 change list is created but before it is displayed in the editor that would allow an external program to possibly edit the changelist text.

My suggestion for the hook name is `p4-pre-edit-changelist.`

It would take a single paramete

[2020-01-20 17:10] phillipwood commented on #426
This is already addressed in pu by pw/advise-rebase-skip

[2020-01-20 18:34] harry-hov commented on #331
The more I try to sink my teeth deeper into this, the more confused I become.

That means [`is_ref_checked_out()` function](https://github.com/gitgitgadget/git/blob/232378479ee6c66206d47a9be175e3a39682aea6/builtin/receive-pack.c#L819-L827) will need to learn to accept and fill (means assign??) parameter of type `const struct worktree **`

<br>

`update_worktree()` will need to accept `const struct

[2020-01-20 19:50] #534 closed

[2020-01-20 20:09] dscho commented on #331
Of course!

[2020-01-29 07:31] periperidip commented on #406
Hey dscho,
I am not able to wrap my head around this. The problem is that the "dashed" forms are called in as well for command like `git add` right( _i.e._ commands whose dashed forms exist?). And our goal is to prevent that from happening by adding a build option which skips those "dashed" built-ins as far as my understanding goes?

[2020-01-29 08:47] Denton-L commented on #492
Closed by 6579d93a9789448c54203939650ca24409635f80.

[2020-01-29 08:47] #492 closed

[2020-01-29 08:47] Denton-L commented on #491
Closed by 1c78c78d2513eaf22105c87484c65b4eecdf0bfc.

[2020-01-29 08:47] #491 closed

[2020-01-29 14:57] dscho commented on #406
To be more precise: in addition to calling `git add`, you can also call `git-add` when scripting a new `git-<command>`. The latter form is deprecated for quite a while now, nevertheless we still hard-link `git` to `git-add` in `<prefix>/libexec/git-core/`.

That is, if your Git executable lives in `/usr/bin/git`, then it is also hard-linked to `/usr/libexec/git-core/git-add` (and likewise a _ton_

[2020-01-31 09:55] dscho opened #541 "Finish the conversion of `git submodule` to a built-in"
The `git-submodule.sh` script weighs in with just over 1,000 lines. That is a rather tall order, so most likely it will take the equivalent of multiple Google Summer of Code projects to finish.

Taking a bit of a deeper look into the `git-submodule.sh` script, we see a peculiar pattern in some of the subcommands, e.g. in `cmd_foreach`: https://github.com/git/git/blob/v2.21.0/git-submodule.sh#L320-

[2020-01-31 18:43] periperidip commented on #406
I appreciate your reply, I have understood it for the most part.
I noticed the "Work-in-Progress" PR just now. I wanted to ask you what work is still left to do in this issue? And direction should I proceed in now?
I noticed that you were trying to add some lists and maybe an option called `ALL_PROGRAMS_AND_BUILT_INS`. Is that the direction we go in?

[2020-01-31 21:02] dscho commented on #406
See https://github.com/gitgitgadget/git/pull/411#issuecomment-579794773

It's not really a list, it is a variable that concatenates two lists... But yes, I think that this is the correct direction to go. Unless you find a better way, that is.

[2020-02-02 10:49] weekly-digest[bot] opened #543 "Weekly Digest (26 January, 2020 - 2 February, 2020)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #541 [Finish the conversion of `git submodule` to a built-in](https://github.com/gitgitgadget/git/issues/541), by [dscho](https://github.com/dscho)
## CLOSED ISSUES

[2020-02-02 12:13] #543 closed

[2020-02-09 10:42] weekly-digest[bot] opened #547 "Weekly Digest (2 February, 2020 - 9 February, 2020)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 1 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #546 [Sparse-checkout: Add subcommand and Windows paths](https://github.com/gitgitgadget/git/pull/546), by [derrickstolee](https://github.com/derrickstolee)
:green_

[2020-02-09 21:13] #547 closed

[2020-02-10 15:19] derrickstolee opened #549 "Fix possible overflow in commit-graph offset calculations"
The [LGTM report](https://lgtm.com/projects/g/git/git/?mode=list) identified some possible arithmetic overflows in the commit-graph code:

[code]

With (hashsz +16) being at most 48 (with SHA-256), this would require 40 million commits to approach an overflow. This is still worthy of fixing.

[2020-02-12 20:08] ParthGala2k commented on #210
I am unable to wrap my head around how `pick` causes a merge conflict here.
From what I understand, `fixup` will cause changes of `b124` to be fused into commit `a123`, but since `b124` was already made after `a123` why would it conflict ?

[2020-02-13 09:28] dscho commented on #210
Imagine that the commit `a123` changes the first line of the `README`, say, fixing a typo. Then, imagine that you rebase that on top of a commit that actually _rewrote_ the entire first line of the `README`.

That'll conflict, right?

Now, let's imagine that the fixup commit `b124` fixes _another_ typo, but this time in another part of the `README`, and that this still applies after rebasing.

Obv

[2020-02-14 13:02] nirmalhk7 commented on #486
Since I'm having trouble building Git project (some imap-send problem), I wouldn't mind if someone else picks this issue up

[2020-02-14 14:26] mo7sener commented on #398
Can I take that?

[2020-02-14 20:25] dscho commented on #398
@mo7sener of course! No need to ask for permission, this is open source, baby :grinning:

[2020-02-14 22:44] mo7sener commented on #398
Ok, cool. I got a question, though. When you say:

I don't quite get why we need to test why the `strbuf` has enough space when shrinking. Excuse me if that's a stupid question, as I'm still a newbie 😄 .

[2020-02-15 15:22] abhishekkumar2718 commented on #471
Hey @dscho

I have been working on this issue and some test cases in t4202-log.sh provide their custom sanitize functions (example: `log --graph with full output`).

Is it worth it to convert all such cases or just the common cases?

[2020-02-15 21:37] dscho commented on #398
@mo7sener I _think_ what I meant four months ago was that constant strings are considered immutable. So you cannot just shorten it by setting a byte in the middle to `NUL`. Which means that you need to copy, and for that, you need to allocate, even if you are shrinking the string, _iff_ it was initialized via `STRBUF_INIT_CONST()`.

[2020-02-15 21:38] dscho commented on #471
If it does not add too much chatter, I guess converting all of them sounds like the better option to me. (If you need my opinion, that is.)

[2020-02-16 23:27] mo7sener commented on #398
@dscho So, just to be sure, does that seem about right?
[code]
This is the function that would turn a const `strbuf` to a variable one.

[2020-02-17 00:02] dscho commented on #398
I think this should have `sb->len + 1`, otherwise it looks correct. This function should be called by `strbuf_grow()` and by `strbuf_setlen()`.

[2020-02-17 00:49] mo7sener commented on #398
@dscho it should be called by other functions that change length, right? Like `strbuf_trim`?

[2020-02-17 15:30] dscho commented on #398
Yes. Or for that matter, any function that wants to modify the bytes in the string.

[2020-02-23 10:42] weekly-digest[bot] opened #564 "Weekly Digest (16 February, 2020 - 23 February, 2020)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 8 issues were created.
Of these, 2 issues have been closed and 6 issues are still open.
## OPEN ISSUES
:green_heart: #563 [single patch quimby test](https://github.com/gitgitgadget/git/pull/563), by [nasamuffin](https://github.com/nasamuffin)
:green_heart: #562 [add git-bugreport

[2020-02-23 13:11] #564 closed

[2020-02-24 03:54] phil-blain commented on #340
@Denton-L this one can be closed right ? It has been implemented as `--reference`.

[2020-02-24 04:29] Denton-L commented on #340
Yep, I forgot to close this issue before. Thanks for pointing it out.

[2020-02-24 04:29] #340 closed

[2020-02-25 17:37] ParthGala2k commented on #210
Sorry for being away after asking so long.
I tried searching for the function where a merge conflict signal is raised which seems to be in  merge-recursive.c in handle_content_merge()
[code]
But then the parts where the todo for interactive rebase is saved and HEAD is updated upon rebase --skip is in sequencer.c.
I suspect we might only have to put an extra level of checking somewhere something li

[2020-02-25 20:56] dscho commented on #210
That's probably not all that important for this ticket. It would probably make more sense to write a file into the state directory for the specific purpose of detecting when a fixup/squash is about to be applied but the initial commit of that fixup/squash was not successful.

One option I can think of is to write a file _before_ the initial pick before a fixup/squash chain (using `peek_command()`

[2020-02-26 23:22] Denton-L opened #565 "`git status` should report when a submodule URL is out of sync"
This will prompt users to run `git submodule sync` to bring their URLs up to sync.

[2020-03-01 11:53] weekly-digest[bot] opened #569 "Weekly Digest (23 February, 2020 - 1 March, 2020)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 0 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #568 [show_one_mergetag: print non-parent in hex form.](https://github.com/gitgitgadget/git/pull/568), by [hvdijk](https://github.com/hvdijk)
:green_heart: #567 [re

[2020-03-02 06:41] #569 closed

[2020-03-02 19:18] phil-blain commented on #565
That's a very good idea!

I guess you mean when `submodule.<name>.url` in `.gitmodules` is different than `submodule.<name>.url` in `.git/config` and/or from `remote.origin.url` in `.git/modules/<name>/config`.

Although we should be careful that this is still useful in more advanced use cases, such as if the user manually changed `remote.origin.url` in the submodule to point to their own fork, (i

[2020-03-03 22:35] Denton-L commented on #471
Fixed in 46703057c1a0f85e24c0144b38c226c6a9ccb737, thanks!

[2020-03-03 22:35] #471 closed

[2020-03-08 10:09] Hasaber8 commented on #259
Has this project already been taken up or is still available to be worked upon?
-Rohan

[2020-03-08 15:32] dscho commented on #259
I am unaware of any effort so far, so go right ahead!

[2020-03-09 09:59] Hasaber8 commented on #259
Correct me if I'm wrong , current even if we try and skip a single commit in git rebase -i it gets squashed, without it been shown in th editor.

[2020-03-09 10:00] Hasaber8 commented on #259
And the whole point of doing to is be able to keep the commit intact while being able to squash commits around it.

[2020-03-09 14:02] dscho commented on #259
If I understand your question right, you're asking whether `git rebase --skip` still applies the currently-picked commit? It does not...

[2020-03-09 15:17] Hasaber8 commented on #259
The drop! semantics if executed properly will be a very good thing to use! This surely will be an interesting project to do!

[2020-03-10 21:48] newren commented on #519
Some general notes:
* My talk did not discuss either of the approaches suggested here, and I have not implemented them.  None of my approaches were incompatible with these ideas, thus they remain as possible additional optimizations.  I'm not sure if they'll be needed given the improvements I have already made (and am still looking into).
* My early reading on these two methods (and I could have e

[2020-03-10 22:08] newren commented on #365
As a side note, unpack_trees() has code to warn about name-collisions so that if you check out a different branch with one you'll get a warning.  merge-ort reuses that code, so when we switch over to it, you should get the same warning at merge time.

However, it may make sense to also have git-status provide some kind of warning, just thought I'd note that there should soon be some kind of warnin

[2020-03-15 14:47] ParthGala2k commented on #210
#582

[2020-03-18 13:55] harry-hov commented on #331
[@dscho] I guess, this issue must be closed by now.

[2020-03-18 15:42] dscho commented on #331
I guess so! Well done!

[2020-03-18 15:42] #331 closed

[2020-03-21 10:29] Denton-L commented on #462
Patchset here: https://lore.kernel.org/git/cover.1584786523.git.liu.denton@gmail.com/T/#t

[2020-03-21 17:11] sheikhhamza012 commented on #519
@dscho I would love to work on this or on the conversion of shell to builtin files , can you guide me through the process? :)

[2020-03-21 17:40] newren commented on #519
This might not be a good project to work on right now; it may turn out to not be useful at all after my other optimizations, plus you'd have to be working with diffcore-rename.c while I'm busy making all kinds of other modifications to it.  I'm not stopping you if you really want to work on it, just giving you a heads up.

[2020-03-21 17:40] newren commented on #519
(The conversion of shell to builtin files or other things within git are fine projects to work on, of course.)

[2020-03-21 19:46] sheikhhamza012 commented on #519
@newren thanks for replying, actually i am also planning to participate google summer of code and i wanted to contribute to git and i would really appreciate if you could guide me, i have already submitted a patch for and open issue about git bisect not working in sub directories and i want to work more on git. Do you think it would be possible?

[2020-03-21 21:25] newren commented on #519
You're going off topic.  ;-)  This ticket should remain about its subject, accelerating rename detection and range-diff.  Briefly, though, I don't have the capacity to take on a GSoC student this year.  I did a quick search for your contributions and saw that they haven't made it to the git mailing list, which is where most potential mentors will be watching, not GitHub.  I did a search and found

[2020-03-22 09:34] sheikhhamza012 commented on #519
thank you so much for the advice, I have just submitted the patch to mailing list and will look into the group you mentioned. :)

[2020-03-23 05:30] Denton-L commented on #339
Merged to master in fec1ff97c2b3c9c5db7e8f2df8d2c81cb94972fd.

[2020-03-23 05:30] #339 closed

[2020-03-23 10:48] periperidip commented on #541
How does one distinguish between which function to add in the aforementioned file and in `submodule--helper.c`?

I think that `cmd_init` and `cmd_deinit` have been converted(_unless some partial conversion is left_). Those left for conversion are: `cmd_summary`, `cmd_set_branch`, `cmd_set_url`,  Also, if `cmd_update` is _partially_ converted then what exactly is left to convert in the subcommand?

[2020-03-23 14:04] dscho commented on #541
My personal preference would be to put reusable bits and pieces into `submodule.c` and transient parts that are only needed to support the shell script version into `submodule--helper.c`.

I guess as of current `master` you're right.

What about `cmd_add`?

Well, look at this feast: https://github.com/git/git/blob/v2.26.0/git-submodule.sh#L451-L712

What's with that outer loop, and with all of tha

[2020-03-24 17:46] periperidip commented on #541
Totally forgot about that! Editing my comment to include it

Woah, that was totally unexpected! I will have to check into it to see what is going on here. I don't think there is any possibility that the command was converted and someone forgot to "erase" this part by mistake.

[2020-04-06 13:06] sheikhhamza012 commented on #549
@derrickstolee can i help you with this or any other issue you might be working on?

[2020-04-20 09:01] Denton-L commented on #457
Peff's analysis of the issue [here](https://lore.kernel.org/git/20200328154936.GA1217052@coredump.intra.peff.net/):

[2020-04-20 09:07] fcharlie commented on #457
Very good, finally saw that this problem will be solved.

[2020-04-27 12:37] Denton-L opened #621 "Use OPT_CALLBACK instead of OPTION_CALLBACK"
In the codebase, we have many instances of `OPTION_CALLBACK` used directly in option arrays. It would be nice to convert these to use the `OPT_CALLBACK` or `OPT_CALLBACK_F` macros as applicable.

All instances that need converting can be trivially found using `git grep OPTION_CALLBACK`.

Here is an example of one conversion:

[code]

[2020-04-28 08:52] Denton-L commented on #621
Patch here: https://lore.kernel.org/git/20200428084543.GC2381876@coredump.intra.peff.net/T/#m255371eb8c9346e5276557c6a62144cca46cab1b

[2020-04-29 12:04] sgn commented on #345
Hi @dscho,

I made a draft version for this one in https://github.com/sgn/git/commit/ae06de14e5abeabdbbb89d7ba2892d85987bd4b5

Would you mind take a look, if it's OK, I'll send to the list.

I would like to discuss off-list first, to reduce the noise.

[2020-04-29 17:50] dscho commented on #345
I added some comments.

Please note, however, that I am very uncomfortable with doing this "off-list". In the least, I would like to discuss this in a proper PR, so that others can see what I suggested later without having to jump through hoops.

[2020-04-30 01:20] sgn commented on #345
I created the PR here https://github.com/git/git/pull/774

I replaced the call to `json_pp` with `jq`.
It's available already in both Travis and Github Action, and it's easier to read.

[2020-04-30 23:28] Denton-L commented on #394
Merged in bf10200871d9e7e1fc9f54aca9b2fe40bc4e4ac7.

[2020-04-30 23:28] #394 closed

[2020-04-30 23:34] Denton-L commented on #462
Closed in 56a1d9ca6b069b707f2f728bf74cd928bfa2a88e.

[2020-04-30 23:34] #462 closed

[2020-05-01 15:42] Denton-L commented on #344
This will probably never be implemented: https://lore.kernel.org/git/xmqqpnfw8gyn.fsf@gitster-ct.c.googlers.com/

[2020-05-01 15:42] #344 closed

[2020-05-06 04:23] Denton-L commented on #621
Fixed in 66527162008d2792c0000096dd7a41d6d5797df3.

[2020-05-06 04:23] #621 closed

[2020-05-18 09:31] periperidip opened #634 "Amend error messages and prompts of various commands"

[2020-05-18 09:31] #634 closed

[2020-05-18 09:54] periperidip opened #635 "Amend error messages and prompts of various (sub)commands"
The Git suite CodingGuidelines suggest [this](https://github.com/git/git/blob/v2.26.2/Documentation/CodingGuidelines#L496) about Error messages:

There are various instances of violation of these rules, for instance [here](https://github.com/git/git/blob/v2.26.2/builtin/add.c#L281) and [here]((https://github.com/git/git/blob/v2.26.2/builtin/submodule--helper.c#L1220)). These violations need to be

[2020-05-18 10:23] periperidip opened #636 "Amend usages of various (sub)commands"
The Git suite option parsing API's Technical Documentation suggests [this](https://github.com/git/git/blob/v2.26.2/Documentation/technical/api-parse-options.txt#L267) about the option descriptions of a (sub)command:

  It shall begin with a lower-case letter and a full stop (`.`) shall be
  omitted at the end.

A bit more insight about what exactly are the option descriptions (or rather what optio

[2020-05-20 18:20] dscho opened #640 "Make `git push --force-with-lease` safer"
The `--force-with-lease` option ensures that you can only force-push updates where your remote-tracking ref agrees with teh remote ref.

Obviously, the idea was that if you call `git pull <remote>`, you will have seen and incorporated the remote commits, even if you rebased and the result therefore does not fast-forward.

However, one rather common setup is ignored by this idea: Git UIs often "hel

[2020-05-25 08:53] johnlinp opened #642 "Add bash completions for `git prune`"
Currently, typing `git pr<TAB>` won't auto complete to `git prune`. We should add a bash completion script for it.

[2020-05-25 14:29] PhilipOakley opened #643 "Accept contributions direct from gitforwindows/git/master forks?"
Having created a potential improvement on top of Git for Windows master, it would be great if the contribution could be accepted directly, rather than appearing to be 'too big'.

This may conflate the issue of GitHub PR merge with the gitgitgadget patch submission process, but I felt it worth mentioning so as to avoid putting too many disincentives onto the Windows contributors.

e.g. https://gith

[2020-05-25 14:57] dscho commented on #643
By "accepted directly", you mean "directly into git.git's `master`"?

If so, I am afraid that that's impossible, already for one purely technical reason: git-for-windows/git's `master` is sufficiently different from git/git's that the patches might not even apply, and even if they do, the build and/or the test suite might fail.

So there really needs to be a separate contribution.

As to "too big"

[2020-05-25 15:47] PhilipOakley commented on #643
That's would be the final destination for the submitted **patch** series
(via `pu`, `next`, to `master`)

That's exactly the point.

'We' (if the gadget is to help) need to separate the 4 patch series I
prepared, from the Git-for-Windows patches.

Maybe there could be a branch on gitgitgadget that is the
gitforwindows/master, so that relevant patch series could be provided
from there, should the s

[2020-05-25 20:24] dscho commented on #643
Then any PR that targets that branch might not even apply cleanly to _any_ of the git/git (or gitster/git) branches! That would be totally not helpful.

That's because by targeting git-for-windows/git's `master`, you have all of Git for Windows' commit history. You need to rebase _your_ commits on top of the appropriate branch in git/git (or gitster/git) first, otherwise your PR won't be any good

[2020-05-28 12:29] dscho opened #647 "Let `git diff` show "intent-to-add" files as new files"
There is this feature where you can call `git add -N file` to tell Git that you intend to stage the file later, but do not want to stage any content yet. The intuitive thing for `git diff` would be to report those files with the `new file` header.

Not only that, by _not_ showing that header, `git add -p` does not show the expected prompt. Example:

[code]

For full details, see https://lore.kerne

[2020-06-01 10:44] periperidip commented on #379
Hello Dscho! Could you explain this part in just a bit more detail please? Would be of great help! I am working on submodules as well as and there are some things I wanna clear out! :)

Thanks,
periperidip

[2020-06-01 15:52] dscho commented on #379
Well, those instances wouldn't be local variables forever, but rather function parameters. Have you followed the link I provided as an example?

[2020-06-02 09:16] periperidip commented on #379
I did just now. I see they are function parameters just like you said.

In this case, we would not have really _needed_ to do this right?

[2020-06-02 12:10] dscho commented on #379
There are many advantages to using sort of an object-oriented design in this area. Having the option to support submodules in-process (including transparently recursive diffs) is only one of them.

[2020-06-07 11:24] Denton-L commented on #642
This is intentional. `git prune` is considered a "plumbing" command so it shouldn't be exposed to end-users directly. The "porcelain" command is `git gc`.

Taken from the manpages for `git prune`,

[code]

[2020-06-07 13:01] johnlinp commented on #642
Sometimes, when I run `git status`, I would see messages like:
[code]

Therefore, I would assume that the command `git prune` is exposed to end-users.

[2020-06-07 13:29] Denton-L commented on #642
Interesting... So from what I can tell, that warning comes from `git gc`, introduced in a087cc9819 (git-gc --auto: protect ourselves from accumulated cruft, 2007-09-17). At that time, `git gc --auto` did not prune by default although that has changed from then to now. That raises two questions for me:

1. Why would `git status` emit this message at all? I don't see any codepath where it calls `run

[2020-06-07 13:45] johnlinp commented on #642
1. Maybe I recalled incorrectly... Perhaps it's from `git push` or `git pull`...
2. I don't have `gc.pruneExpire` set, and I'm not using some ancient version off Git. I don't think I am using some special workflow, either.

I will submit a PR to change the message. Thank you for the detailed analysis.

[2020-06-08 00:47] johnlinp commented on #642
With the discussion in #651, I will submit another PR for `git gc --prune=now`.

[2020-06-10 06:23] johnlinp commented on #642
As the discussion in #652, I will start working on providing bash completions for `git prune`.

[2020-06-11 00:21] Denton-L commented on #457
Closed by b0df0c16ead4c5512d506dcbbdf31194d992803c. Thanks for your patience :)

[2020-06-11 00:21] #457 closed

[2020-06-13 18:50] abhishekkumar2718 opened #657 "object: remove commit_count from parsed_object_pool"
With 14ba97f8, `commit_count` was introduced to keep count of parsed commits for a repository.

Currently, it's used to assign `commit->index`. However, this behavior is incorrect, as the commit slab requires a global count instead of per-repo count. While a [patch](https://lore.kernel.org/git/20200612184014.1226972-2-abhishekkumar8222@gmail.com/) introduces the global counter, it does not clean u

[2020-06-20 03:47] Denton-L opened #666 "Use "old" side of the reflog entry instead of the "new" side"
As described [here](https://lore.kernel.org/git/xmqqzh8zgcfp.fsf@gitster.c.googlers.com/):

which is probably best solved as described [here](https://lore.kernel.org/git/xmqqsgeqg4zu.fsf@gitster.c.googlers.com/):

[2020-07-05 06:49] weekly-digest[bot] opened #672 "Weekly Digest (28 June, 2020 - 5 July, 2020)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #671 [Maintenance builtin, allowing 'gc --auto' customization](https://github.com/gitgitgadget/git/pull/671), by [derrickstolee](https://github.com/derrickstolee)
:

[2020-07-06 07:04] #672 closed

[2020-07-10 00:59] johnlinp commented on #642
#667 was merged into master. Closing this issue.

[2020-07-10 00:59] #642 closed

[2020-07-26 06:49] weekly-digest[bot] opened #682 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 2 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #680 [[WIP] Maintenance builtin: background maintenance](https://github.com/gitgitgadget/git/pull/680), by [derrickstolee](https://github.com/derrickstolee)
## CLOS

[2020-07-26 18:49] weekly-digest[bot] opened #683 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 2 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #680 [[WIP] Maintenance builtin: background maintenance](https://github.com/gitgitgadget/git/pull/680), by [derrickstolee](https://github.com/derrickstolee)
## CLOS

[2020-08-02 03:29] weekly-digest[bot] opened #690 "Weekly Digest (26 July, 2020 - 2 August, 2020)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 3 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #689 [diff: teach --stat to ignore uninteresting modifications](https://github.com/gitgitgadget/git/pull/689), by [ROGERSM94](https://github.com/ROGERSM94)
:green_h

[2020-08-09 03:29] weekly-digest[bot] opened #697 "Weekly Digest (2 August, 2020 - 9 August, 2020)"
Here's the **Weekly Digest** for [*gitgitgadget/git*](https://github.com/gitgitgadget/git):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 0 issues have been closed and 6 issues are still open.
## OPEN ISSUES
:green_heart: #696 [Maintenance II: prefetch, loose-objects, incremental-repack tasks](https://github.com/gitgitgadget/git/pull/696), by [derrickstolee](https://github.com/derric

[2020-08-10 12:18] #682 closed

[2020-08-10 12:19] #683 closed

[2020-08-10 13:05] #697 closed

[2020-08-11 09:41] #690 closed

[2020-08-25 20:18] Denton-L commented on #439
Closed by 47f0f94bc796037c43000a9852cdf9209a3c3274.

[2020-08-25 20:18] #439 closed

[2020-08-25 20:39] Denton-L commented on #343
Individual trailer options will never be supported: https://lore.kernel.org/git/xmqqft8b6h52.fsf@gitster.c.googlers.com/

[2020-08-25 20:39] #343 closed

[2020-09-07 20:09] raffs commented on #657
@abhishekkumar2718 it seems your changes `[6da43d9](https://github.com/gitgitgadget/git/commit/6da43d937ca96d277556fa92c5a664fb1cbcc8ac)` was merged to the `next` branch.  I believe this issue can be close.

[2020-09-10 06:19] #657 closed

[2020-09-18 15:12] phillipwood commented on #259
Do we need to actually do the revert? - If we want to drop the commit can't we use an empty commit (`git commit -m 'drop! '"$(git show -s --oneline <commit>)"`)? If we actually try to revert the commit there is the potential for conflicts when running revert which would create unnecessary work for the user.

[2020-09-21 13:43] derrickstolee opened #737 "Maintenance: test locking patterns and resolve different locks"
[Ævar notes:](https://lore.kernel.org/git/87d02fi75p.fsf@evledraar.gmail.com/)

The GC lock should stay here until all `git gc` commands run through
`cmd_maintenance()`.

However, we can add the necessary tests to document what happens
and possibly catch (and fix) some undesired behavior.

[2020-09-23 18:20] phillipwood commented on #647
Is this still relevant? Didn't you fix it diff in 85953a3187 ("diff-files --raw: show correct post-image of intent-to-add files", 2020-07-01) and I've just landed 75a009dc29 ("add -p: fix editing of intent-to-add paths", 2020-09-09)

[2020-09-23 19:37] dscho commented on #259
Yes. The point of dropping a given commit is to drop its changes, too, and that's a `revert`. Otherwise the tree after `git revert --drop <commit>` would not have dropped the changes!

[2020-09-23 20:56] dscho commented on #647
I totally did! Thank you for your diligence.

[2020-09-23 20:56] #647 closed

[2020-09-26 09:49] Denton-L commented on #250
Probably too obscure to be worth a command-line option.

[2020-09-26 09:49] #250 closed

[2020-10-02 20:06] derrickstolee opened #740 "Re-examine commit-reach.c and collapse similar methods"
This recently was a problem in the similar, but not co-implemented `in_merge_bases_many()` versus `get_reachable_subset()` which are very similar. Find these similar callers and find which ones can be dropped by replacing callers with the "better" way.

[2020-10-12 16:21] phil-blain opened #750 "`git rm --cached <submodule>` does not stage changes to `.gitmodules`"
Details here : https://lore.kernel.org/git/ea91c2ea29064079914f6a522db5115a@UUSALE0Z.utcmail.com/T/#u

This is indeed a bug.

Reproducer:
[code]

[2020-10-12 19:11] phil-blain opened #752 "Improve UX around removed submodules and '--recurse-submodules' for `clone` and `checkout`"
When a user clones a repo with `--recurse-submodules`, `clone` writes the pathspec `.` to the config `submodule.active`.

If this repo at some point in its history had a submodule, but this submodule was then removed, then checking out an older commit where the submodule is still present fails if the checkout uses `--recurse-submodules`.

Reproducer:

[code]

Cf:
https://lore.kernel.org/git/202005

[2020-10-16 14:42] phil-blain opened #759 "Improve error message (and fix bugs) when 'git pull [--rebase] [--autostash]' brings new files that conflict with untracked files"
When a pull brings new files that conflict with untracked files, the error message differs if using `--rebase` or not, and if using `--autostash` or not, and they are is a little bit confusing with `--rebase` or `--autostash`. Also, there is a bug with `git pull --autostash` :

Reproducer (save as `script`):
[code]

### `./script --no-rebase`
[code]
This message is correct.

### `./script --no-reb

[2020-10-20 10:22] sangu09 commented on #486
Hey @dscho ! I found this issue is still present. I went through the above files and got some background on what needs to be done. Can I work on this?

[2020-10-20 10:24] sangu09 commented on #486
Oh yes, also I know that we are in a process to change bisect code from shell to C so is it that this issue might go on till hold until we complete the migration?

[2020-10-20 10:26] dscho commented on #486
Go right ahead! And no, I don't think it should wait for the conversion to C to be complete, it should even help that transition.

[2020-10-20 10:31] sangu09 commented on #486
Oh okay! Thanks! I am on it!

[2020-11-02 22:35] Denton-L commented on #249
Well, `..` has been deprecated in the docs. And users can avoid using range-notation entirely via the `--merge-base` flag now: b6fb70c985a6fc113e971a6696f328abf8315dce. I'll declare this one closed.

[2020-11-02 22:35] #249 closed

[2020-11-04 13:41] dscho commented on #345
Since the subject [came up on the Git mailing list again](https://lore.kernel.org/git/43aadae9-a4c1-f1e4-6902-c05af36fcf19@ramsayjones.plus.com/): the Bash step to download and install the `sparse` package would look like this:

[code]

[2020-11-11 13:10] derrickstolee opened #786 "Sparse-checkout: allow 'git rm' to scope to populated files"
Work has already begun to allow `git grep` to scope specifically to the sparse-checkout definition. Perhaps a similar update to `git rm` could help users with sparse-checkout definitions?

This feature request comes second-hand from a user who hit this and was surprised that it did not work as they expected.

[2020-11-11 13:12] derrickstolee commented on #786
This feature might be right up @matheustavares alley, if he has time to look into it. ;)

[2020-11-11 16:44] matheustavares commented on #786
Hi, @derrickstolee . I had some time in the morning, so I wrote this prototype patch: https://github.com/matheustavares/git/commit/8d23419b90bdf3228a45dbc8725ac06b1f87d7a2

The change is much simpler for `git-rm` since we don't have to deal with arbitrary trees given in the command line, as we did for `git-grep`. One question: should `git rm --cached` also be restricted to the sparsity patterns, b

[2020-11-11 19:40] phil-blain opened #788 "SubmittingPatches: document how and why to submit regression fixes"
See: https://lore.kernel.org/git/37DD13D4-FBE4-4DB7-85F5-824E850BA9AE@gmail.com/

[code]

[code]

[2020-11-11 21:13] derrickstolee commented on #786
@matheustavares thanks for jumping on this so quickly! I left a comment on your commit, but everything else looks great to send upstream.

I think leaving `git rm --cached` to be restricted to the sparse-checkout is a good initial approach. I think that users expect them to do the same thing with the only difference being that the working directory is not modified between the two.

[2020-11-25 19:30] phil-blain opened #800 "'git log -p -D -S string' shows full patch of a deleted file ('-D' has no effect)"

[2020-12-20 14:27] adlternative commented on #635
Excuse me, should I correct every error manually? These error messages not only appeared in thousands

Can you give me more specific information, which files should I or should not modify, including all'.c' files or'.h' files? Do I need to modify the error messages in other types of files?
This error message is probably those errors that contain BUG('Un...') or die('Un..') or error, warning as the

[2020-12-21 20:16] periperidip commented on #635
One approach can be to first sieve out strings starting with `die("<Capital Letter>...)` using Regex. From there, doing it all manually or use a script, depends on you.

Most of them are in `.c` with a couple of those in `.h`, namely:

1. `die("Cannot handle files this big");` in `git-compat-util.h`.
2. `die("Error submodule '%s' not populated.", path);` in `refs.h`. This one is a comment so you m

[2020-12-24 00:54] adlternative commented on #486
according to #765,this problem is not so easy to solve...I thought I needed to record the absolute path of a git root directory so that we could switch...

[2020-12-24 13:54] dscho commented on #240
Hmm. Seems that that thread has stalled for quite a while now, and VFS for Git still carries 246f269d3162.

@derrickstolee do you think we should do something about it? Like e.g. change the signature of `send_request()` to return an `int`, and teach the callers to drain the reader and _then_ call `die_errno(_("unable to write to remote"));`. From what I see, all three callers are in `find_common()

[2020-12-26 13:45] adlternative commented on #398
@dscho  This should be an issue from ancient times,haha!I have some ideas , but I don't know if I was right ,Can you help me see if there is a problem with my thinking?#824
There may be some bugs... :)

[2020-12-30 01:28] derrickstolee opened #827 "Partial Clone: check `git log --follow` behavior"
This is mostly a note-to-self to check if this needs any work:

1. Create a blobless clone with `git clone --filter=blob:none`
2. Run `git log --follow -- <path>` for some `<path>` that has a rename, but only an _exact OID_ rename.
3. Check if that `git log --follow -- <path>` process downloads any blobs from the remote. (Optimally, it shouldn't.)

If there is no download, then perhaps reinforce t

[2021-01-02 01:41] Denton-L commented on #666
Initial patch here: https://lore.kernel.org/git/0c6885f15f5ce0be28142d9c69724362e72481a9.1609551262.git.liu.denton@gmail.com/

[2021-01-03 15:22] adlternative commented on #198
Hi ! I seem to fix this problem!
Look at:#832
Thanks!

[2021-01-05 13:50] buehmann opened #833 "Segfault in git for-each-repo"
@derrickstolee, I was trying `git maintenance` earlier today and stumbled across the following bug after I had `git maintenance unregister`ed the last repo, which removed the `maintenance.repo` config.

[code]

https://github.com/gitgitgadget/git/blob/71ca53e8125e36efbda17293c50027d31681a41f/builtin/for-each-repo.c#L51-L54

[2021-01-05 13:55] derrickstolee commented on #833
Thanks for bringing this to my attention. I'll get this fixed.

[2021-01-05 13:55] buehmann commented on #833
Thanks!

[2021-01-05 13:58] derrickstolee commented on #833
@buehmann could you please email me (my-alias at github dot com) with your preferred email so I can properly attribute you with a `Reported-by:` tag in my patch?

[2021-01-05 14:02] buehmann commented on #833
I updated my profile: https://github.com/buehmann

[2021-01-12 15:09] adlternative commented on #800
Excuse me,this problem In my computer have not  appear.

The d.c have ‘Returns’.
I deleted d.c
I use 'git log -p -D' it show nothing.

I use 'git log -p -D -S Returns' it show nothing.

I use 'git log -p -S Returns' it show me the delete file context.

-D has its effort.

So this problem have been solved yet?

[2021-01-13 14:33] derrickstolee commented on #833
I'm closing this issue because #834 has landed in `next`. Thanks, @buehmann!

[2021-01-13 14:33] #833 closed

[2021-01-26 23:05] Denton-L commented on #666
Closed by 6436a20284f33d42103cac93bd82e65bebb31526.

[2021-01-26 23:05] #666 closed

[2021-01-28 15:33] pratikghule commented on #541
hey I wanted to contribute to this issue and help in conversion of `git submodule` to a built-in in C lanuage.
How should i begin?

[2021-01-28 17:23] phil-blain commented on #541
Hi @pratikghule !

The last remaining `git submodule` subcommands that are implemented in shell are `git submodule add` and `git submodule update`.

Work has already started to convert `git submodule add`, but it seems to have stalled; see the following patches and messages on the Git mailing list:

- https://lore.kernel.org/git/20201214231939.644175-1-periperidip@gmail.com/
- https://lore.kernel.

[2021-01-28 20:24] phil-blain commented on #406
See also: https://github.com/gitgitgadget/git/pull/840

@dscho I guess we can close this here issue, right?

[2021-01-29 06:48] dscho commented on #406
I suppose :-)

[2021-01-29 06:49] #406 closed

[2021-01-29 17:06] phil-blain commented on #205
@dscho In simple cases,  you could use `@{push}` for this, no?
[code]

It's on my todo list to make that work without having to change `push.default`, and adding command-line options to set per-branch `branch.<name>.pushRemote` (and eventually also allowing to easily configure a different name for the remote branch via push refspec)

[2021-01-30 11:32] kxrob opened #855 "REQ: gitk: tag right-click should provide commands "Rename ..", "Remove ..", "Copy tag name""
Feature Request for gitk:  right-click on a tag should provide menu with commands:
"Copy tag name"
"Rename this tag"
"Remove this tag"

(Similar to what exists for branches)

[2021-01-30 12:15] kxrob opened #856 "REQ: gitk: filename right-click should provide commands "Open", "Explore""
Feature Request for gitk: A right-click on a filename (lower right pane: in both patch and tree view) should provide extra commands in popup-menu:
"Open"   (like in git-gui on top of the diff pane)
"Explore"  (open / show in platform file manger)

git-gui should also provide the "Explore" command.
(filename on top of the diff pane - and optinally in the file list pane on top left)

Hints:
On Windo

[2021-02-01 06:32] adlternative commented on #855
Hey, maybe I don't know much about  gitk, what technology stack does it need? I see the 10,000 lines of shell script code under gitk-git, and I don't know where to start.
Can you give me some guide?

[2021-02-01 13:56] kxrob commented on #855
Hello, this gitk GUI obviously is one big Tcl/Tk language script. The shell feeds it to the `wish` (GUI targeted as compared to `tclsh`) interpreter. I used TCL many many years back in a lab a little. not really into that anymore, but its rather simple and centered around string handling.

As this REQ is about sth similar to what already exists for branches, you may start from here as see how it w

[2021-02-02 09:15] adlternative commented on #855
Thanks for your pointing,I have notice them,I will go to learn tcl first :)

[2021-02-02 13:19] dscho commented on #205
No:

[code]

[2021-02-02 13:21] phil-blain commented on #205
OK. One more bug to fix then :)

[2021-02-04 16:59] adlternative commented on #855
@kxrob,I may have solved part of this problem,May need a little help at the end.
THANKS!

[2021-02-05 14:44] dscho commented on #206
Maybe at some stage this might be interesting, but my use case is pretty clear: I only want to suppress lines with unmatched commits from one side. FWIW I implemented this in https://github.com/gitgitgadget/git/pull/869.

[2021-02-06 14:41] dscho commented on #205
And what about `git diff origin/@{push}`, i.e. comparing to a remote-tracking branch of the same name as the current branch?

[2021-02-06 23:43] phil-blain commented on #205
I’m not sure I understand that last bit though.

    git diff @{push}

already works and compares to the current push target... but maybe you meant comparing to branch with  the same name on a remote that is _not_ the configured `pushRemote` for the current branch?

[2021-02-07 09:38] periperidip commented on #750
Is anyone working on this issue @phil-blain ? Haven't been active on Git for a while thought might as well take this up to get back in the game.

[2021-02-07 10:23] periperidip commented on #750
Also, another update on this scenario:

[code]

The above test 45 from the script `t3600-rm.sh` asserts that a `git rm --cached <submodule pathspec>` will not touch the `.gitmodule`(s) of the respective SMs. Something which will need correction as well.

[2021-02-07 10:48] dscho commented on #205
My `@{push}` does _not_ point to `origin`.

[2021-02-07 15:44] phil-blain commented on #750
I don’t think anybody is working on that specific issue, no.

[2021-02-11 11:50] periperidip commented on #750
Should we lock this issue or something since it is very inconclusive as of now? I would love to work on this but I really don't know if this would be approved on the list or not. What do you say Phillipe?

[2021-02-11 17:29] periperidip commented on #640
Hi @dscho ! Is this issue solved? I studied this and it seemed very interesting to me. I would like to work on this.

[2021-02-11 17:45] periperidip commented on #640
From what I have inferred, the issue is that many Git UIs or sometimes even the user may unknowingly fetch the latest status of the remote ref but will not compare it with our local branch before pushing since the user does not ask so.

Right now, our job is to make sure that the local incorporates the tip of the remote, essentially doing a fetch first and then comparing before pushing, is that co

[2021-02-12 11:50] dscho commented on #640
I think that this has been addressed via the `--force-if-included` option (at least that was the idea, although I seem to be unable to make `--force-if-included` do what I want over here).

[2021-02-12 16:08] dscho commented on #640
@periperidip and if you're looking for work, how about finishing `ss/submodule-add-in-c`? It [was just kicked out because it has been stale for so long](https://github.com/git/git/blob/1861aa482a38ae84f597cede48167ab43e7e50a3/whats-cooking.txt#L1158-L1169).

[2021-02-13 17:13] periperidip commented on #640
What exactly is missing would you like to talk about it a little bit here?

[2021-02-13 17:15] periperidip commented on #640
I am quite bored with the whole work. I was thinking of trying something else with Git. Plus, that work has been finalised as a project for the upcoming GSoC too.

Do you have any other stuff I could work on? Any issues which are left or any discussions which are going on? I was also thinking of working on some `NEEDSWORK` topics in the Git code. What do you think?

[2021-02-15 13:23] dscho commented on #640
In that case, I do not want you to work on any issue that concerns me personally, lest you get bored on working on that, too ;-)

[2021-02-16 07:38] Denton-L opened #876 "format-patch: pass --right-only to range-diff somehow"
Since 1e79f97326 (range-diff: offer --left-only/--right-only options, 2021-02-05) is almost in `master`, it would be a good idea to teach `git format-patch` to pass `--right-only` to `range-diff`.

I (and [Taylor Blau](https://lore.kernel.org/git/YBx5rmVsg1LJhSKN@nand.local/)?) can't seem to reproduce the exact scenario right now but I've been in situations where running `git format-patch --range-

[2021-02-16 09:11] dscho commented on #876
How about `git format-patch --range-diff=right-only`?

About reproducing the issue: it probably happens when you rebase to a new upstream commit between iterations.

[2021-02-18 19:25] phil-blain commented on #750
I do not have the rights to lock issues here, and anyway, I do not think anyone should be locking issues here unless abusive behaviour is going on. What should be done is to link to the relevant messages on the list, so if people want to contribute to the discussion they can do so on the list:
https://lore.kernel.org/git/20210207144144.GA42182@konoha/

We never really know how patch series will be

[2021-02-23 07:25] Denton-L opened #882 "format-patch: allow a non-integral (string??) version numbers"
Sometimes, it may be helpful to send patches that aren't quite v1 or v2. Perhaps a small fixup on a patch should be labelled as v1.1. Teach git format-patch to accept string versions so that this is possible.

One thing to consider, when doing a range-diff, it will say "Changes since v1" or something. Perhaps we should change that to say "Changes since last version" or something when the version i

[2021-02-25 14:17] adlternative commented on #882
Hey, Denton Liu,
I am interested in this issue and have made minor changes to the original code.
There's "# failed 41among remaining 180test (s)" in the "t4014-format-patch.sh", what can be done to locate the error for each test so I may be able to modify it.:)

[2021-03-04 09:10] Denton-L commented on #206
Closed by 1e79f97326 (range-diff: offer --left-only/--right-only options, 2021-02-05).

[2021-03-04 09:10] #206 closed

[2021-03-06 12:49] adlternative commented on #876
@Denton-L,@dscho,
Passing a parameter is easy, maybe I don't think thoroughly, why do we just need right-only, don' t need left-only here?

[2021-03-08 13:24] dscho commented on #876
The idea behind passing `--right-only` somehow is this: when you rebase a patch series, you might rebase it onto a newer version of, say, `next`. A `git range-diff` would now pretend that all of the new commits are super interesting, but they are not. Hence, one side of the range-diff will _always_ be more interesting than the other.

However, there is a problem here. That interesting direction wo

[2021-03-14 07:55] adlternative commented on #876
@dscho, You're right. Recently, I have often thought about this problem, but found that `left-only` is not so good for user, because it always removes one side of the content.

[2021-03-14 08:07] dscho commented on #876
Right. You might need a better heuristic, specifically addressing the scenario of patch series iterations.

I could imagine that a good indicator might be the committer: all the commits to be contributed are likely annotated with the current user as committer, and the commits they're based on likely have a different committer.

[2021-03-14 13:26] adlternative commented on #876
@dscho ,
Thanks for this interesting idea! :)

I may have some little doubts:
As far as I know, the committer is the person who applies the patch
and the author is the person who writes the patch. It may be suitable to
rewrite a commit author which have been done with `git commit --author`,
but I think it is a bit strange to rewrite a commit committer.

If I apply a patch base on other commiter's

[2021-03-14 15:02] dscho commented on #876
I did not suggest to _rewrite_ the commits, only to _look_ at them.

For example, assume that you sent three patches to the mailing list, A, B and C, and they're on top of `next`, where X is the tip of `next`:

[code]

Then you're asked to rewrite A, drop B and add D, and rebase onto the _new_ tip of `next`, which is Y:

[code]

Note that X and Y have the maintainer as committer, A, B, C, A', C' a

[2021-03-15 02:22] adlternative commented on #876
Ok...I may have misunderstood your thoughts.

Maybe you can indeed find the correct range this way, but what if the maintainer sends a patch?

[2021-03-15 07:03] dscho commented on #876
Right, the maintainer would not be able to use this.

At the same time, this heuristic will fail substantially less often than the `--left-only` heuristic.

Therefore, I'd say it's better, even if the caveat needs to be spelled out clearly.

[2021-03-20 21:40] chinmoy12c commented on #379
Hey, I'm planning to work on this, but I cannot find more references to `the_index` or `the_repository` other than those in builtin/*.c. Do the files in builtin need these changes as well or not?

[2021-03-21 07:44] dscho commented on #379
https://github.com/git/git/search?q=the_repository&type=code shows at least one match outside of `builtin/`: `shallow.c`...

I _think_ that you could find these locations via `git grep the_repository -- '*.c' ':(exclude)builtin/*'` or some variation thereof (sorry, I can't test this right now).

[2021-03-24 08:13] chinmoy12c commented on #379
Hey, @dscho, I'm trying to replace `the_repository` in `cache-tree.c`. I have changed `cache_tree_update` for which I have to make a few changes in function calls in `builtin/*.c` files. Should I go ahead with making the changes?

[2021-03-24 10:33] dscho commented on #379
Sure. Did you define `struct repository *r = the_repository;` in `builtin/`'s functions, and then pass `r` as first parameter?

[2021-03-24 10:41] chinmoy12c commented on #379
Yes, I'll link a PR today for review. 😄 I guess passing `the_repository` directly in tests is okay?

[2021-03-24 13:10] dscho commented on #379
The tests are implemented in shell. Unless you're referring to test helpers, where it is totally okay to use `the_repository`.

[2021-03-24 17:39] chinmoy12c commented on #379
@dscho , please have a look at the PR and suggest necessary changes. :)

[2021-03-25 15:20] dscho commented on #485
I _guess_ I fixed this via fb6211ca81073f3c78c1fbe54ff57e9d3255704f.

[2021-03-25 15:20] #485 closed

[2021-03-25 15:29] dscho commented on #786
I _guess_ this is addressed in [`mt/add-rm-in-sparse-checkout`](https://github.com/gitgitgadget/git/compare/master...mt/add-rm-in-sparse-checkout)?

cc: @matheustavares, @derrickstolee

[2021-03-25 15:30] dscho commented on #643
Therefore, I'll close this. And this ticket is not even a year old... 🎉

[2021-03-25 15:30] #643 closed

[2021-03-25 15:30] derrickstolee commented on #786
Yes, let's close this issue. Thanks.

[2021-03-25 15:30] #786 closed

[2021-03-25 15:31] dscho commented on #549
@derrickstolee is this still a thing?

[2021-03-25 16:04] derrickstolee commented on #549
I don't think I've adjusted these calculations. I did refactor a bunch of that code with the chunk-file API, but the multiplications were not protected.

This was low on my radar, but an interested contributor could provide updates here. The method to scan is `write_commit_graph_file()`.

[2021-03-27 10:57] chinmoy12c commented on #640
@dscho, could you please direct me to the work that was done previously on this (and any other relevant links maybe). Maybe I could work on it and try to finish it :).

[2021-03-27 22:20] dscho commented on #640
Sure. https://lore.kernel.org/git/20201214231939.644175-1-periperidip@gmail.com/ seems to be the latest attempt, and https://github.com/git/git/commit/1861aa482a38ae84f597cede48167ab43e7e50a3#diff-1e38796093f163084858763921ead3459e09087f85af3e4354f3401c1641392dR1158-R1169 has the information what still needs to be done.

But please only work on this if you find it personally satisfying or interest

[2021-03-28 06:27] chinmoy12c commented on #640
Thanks :smile:

Sure, it would help me dive deep into the codebase and understand it properly :).

[2021-03-28 08:29] dscho commented on #640
I guess if it was up to _me_, I'd not work on submodules, unless I had committed to it. In my mind, submodules are a mistake by design. Therefore, if I were to work in this space, I'd try to design something with the same goal (allowing not to check out a given set of subdirectories) around partial clone and `git subtree`.

[2021-03-28 08:44] chinmoy12c commented on #640
Okay, then I'd rather find a different issue to work on.

Thanks 😄

[2021-03-28 10:07] dscho commented on #640
I mean, I don't want to _discourage_ you from working on submodules, at the same time I have to admit that I find other parts of Git much more rewarding.

[2021-04-12 21:50] Denton-L commented on #882
Closed by #885.

[2021-04-12 21:50] #882 closed

[2021-04-15 08:43] Denton-L commented on #876
I think that if we have to rely on heuristics in order to make this feature work, it'll be too magical. It's easier to just keep it the old way.

[2021-04-15 08:43] #876 closed

[2021-04-15 08:46] Denton-L opened #933 "CamelCase and organize config variables"
https://lore.kernel.org/git/xmqq7dmy389l.fsf@gitster.g/

[2021-04-20 09:21] Denton-L opened #936 "Document why 'seen' isn't based on 'next'"
https://lore.kernel.org/git/xmqqlf9jqucm.fsf@gitster.g/:

https://lore.kernel.org/git/xmqq35vrqqjt.fsf@gitster.g/:

[2021-04-21 11:58] jsoref opened #938 "main windows-test workflow error handling is buggy"
Looking at some runs, I noticed some odd failures...

This run especially:
https://github.com/check-spelling/git/actions/runs/762362339/workflow

Here's an excerpt of the log (eventually the run will be Garbage Collected, and at some point before or after that, I will probably delete the repository):

<details><summary>:x: actions/checkout@v1</summary>

[code]

[code]
</details>

🚫 download build

[2021-04-22 13:36] dscho commented on #938
I think you might have merely run into https://www.githubstatus.com/incidents/cj7gzzj30411. I say that because the other matrix jobs did _not_ fail, even if they executed the same definition.

I am glad you asked.

Azure's agents indeed have a default Bash. On Windows, this is even the Git for Windows Bash.

The problem with that Bash is that it has no usable GCC. Or at least it does not have the

[2021-04-22 13:47] jsoref commented on #938
I'm not asking about the whole workflow, just this one stage. I don't think it needs gcc.

[2021-04-22 13:49] jsoref commented on #938
It looks like that or also addresses the main item here, so, yay!

[2021-04-23 10:42] dscho commented on #938
It might not need GCC, but it does need the minimal subset of Git for Windows SDK. What we want to ensure here is not that the compiled Git would run when copied into whatever Git for Windows version is installed in that build agent, but that the compiled Git would run when bundled as a _new_ Git for Windows. That's what this guarantees.

[2021-07-14 13:24] phil-blain commented on #357
Question for lurkers: when compiling with `-g3` (GCC) or `-fdebug-macro` (Clang), debugging symbols for preprocessor constants are generated. Is there an equivalent for enumeration constants  ?

[2021-07-17 14:45] phil-blain commented on #759
As of Git version git/git@d486ca60a5 (The third batch, 2021-07-08), the last case fails to apply the autostash, just like with merge.

[2021-07-17 15:30] phil-blain commented on #759
This regression was reported here: https://lore.kernel.org/git/a0071549-73f6-9636-9279-3f01143a05de@gmail.com/T/#u

[2021-07-23 12:01] phil-blain commented on #759
Patch series created here https://github.com/gitgitgadget/git/pull/1002

[2021-07-23 12:18] phil-blain commented on #759
Patch series sent: https://lore.kernel.org/git/pull.1002.git.1627042470.gitgitgadget@gmail.com/T/#t

[2021-07-27 13:42] phil-blain commented on #357
Answering my own question: in GDB, if `RECURSE_SUBMODULES_OFF` is an enum value, `p RECURSE_SUBMODULES_OFF` just returns `RECURSE_SUBMODULES_OFF`. This is not very helpful because usually variables that are compared with such enums in the Git source code are `int`s, so you might want to know what integer values the enums values map to. This can be done with any of the following commands:
[code]

[2021-07-27 21:00] phil-blain opened #1004 "`--full-diff` does not work with linelog (`git log -L`)"
One might want to look at the history of a bunch of lines in a file, i.e. `git log -L 234,255:path/to/file`, or of a particular function, i.e. `git log -L:function_name:path/to/file`, while still examining *all* changes introduced by the commits that touched these lines.

If one uses a pathspec with `git log`, i.e. `git log path/to/file`, this behaviour can be achieved with the [`--full-diff`](htt

[2021-07-27 21:05] phil-blain commented on #1004
A workaround for now is ` git log --format=%h --no-patch -L:git_fetch_config:builtin/fetch.c | xargs git show`

[2021-08-10 12:03] phil-blain commented on #426
@dscho I think this issue can be closed :)

[2021-08-10 12:54] #426 closed

[2021-10-21 11:12] biblicabeebli opened #1064 "[patch] bug in bash-completion code"
Hi, I wrote up this post based on the guidelines in Documentation/SubmittingPatches, and then was directed here as an alternative to `git send-email`.  I'm pasting below from the document I wrote up, I'm looking for feedback, though I believe my proposed patch is ... fine?  I have modified it slightly to improve the representation of the pasted content on github.

I have pasted this as an issue wi

[2021-11-13 19:49] phil-blain commented on #1064
Hi @biblicabeebli, to quote from [SubmittingPatches](https://git-scm.com/docs/SubmittingPatches#base-branch):

From what I understand, your bugfix is for a bug you found in a released version of Git, so to choose your base branch, you could checkout `maint`, build Git and the Bash completion, install them,  and see if your bug reproduces. If so, you are done, you can use `maint` as your base branc

[2021-11-18 14:09] prertik commented on #211
I'll start working on this.

[2021-11-18 14:18] biblicabeebli commented on #1064
@phil-blain Thank you for the detailed comment!!

It's on me to move on this, I've found several more very similar instances of this bug on other autocompletions that I run less frequently.  I need to find the time to track them down.  A general solution may be something like redefining `[` in the script (eep!) to block error statements by default, and have a flag a dev can set to allow a more exp

[2021-11-25 00:32] biblicabeebli commented on #1064
My issue appears to have been resolved in a future version of git....
https://askubuntu.com/questions/1371505/bash-completion-for-git-branches-broken-after-upgrading-to-21-10
https://github.com/git/git/pull/1038

[2021-11-25 00:32] #1064 closed

[2021-11-25 00:51] phil-blain commented on #1064
Yes, in fact the fix is already in Git 2.33.0, as I just noted at the bottom of git#1038 :)

[2021-12-27 06:52] wzshiming opened #1107 "Support arguments for GIT_PROXY_COMMAND & core.gitproxy"
For instance, something like:
GIT_PROXY_COMMAND="proxyscript arg1 arg2"

[2022-01-09 09:25] ffyuanda commented on #357
Is this issue still doable? I kinda want to know `git` contribution better so I'm wondering if I should take a shot at this one?

[2022-01-09 09:44] dscho commented on #357
@ffyuanda I would actually recommend thinking of something _you_ want to change in Git. If there has been any moment where you said "if Git only would...", that's a good idea to pursue. Turning preprocessor constants into enums is not only boring, it also has been met with lackluster enthusiasm by the Git maintainer.

[2022-01-21 03:33] ffyuanda commented on #636
Think this issue should be closed? Cannot find anything alike in the code right now.

[2022-01-21 16:23] dscho commented on #636
@ffyuanda You are right in that [the current `git submodule foreach` options](https://github.com/git/git/blob/v2.35.0-rc2/builtin/submodule--helper.c#L560-L565) seem to have been fixed relative to [the version mentioned in the original report](https://github.com/git/git/blob/v2.26.2/builtin/submodule--helper.c#L564).

However, I get this:

[code]

This is substantially reduced compared to running

[2022-01-25 15:37] dscho opened #1125 "Avoid checking for `-h` in commands that already use the parse-options API"
From https://lore.kernel.org/git/CABPp-BG1UXDLVh4_F_TQJmiM4=fFMOLFo5k27=MghbBPWPkL7A@mail.gmail.com/:

It would appear that we have quite a few places where we use the parse-options API yet check (unnecessarily) for `-h`:

[code]

And indeed, https://github.com/git/git/blob/v2.35.0/builtin/am.c#L2427-L2428 seems to do exactly that.

Let's fix those, and while at it, enhance the `static-analysis` j

[2022-01-25 17:38] chooglen opened #1126 "diff,range-diff: colorize a file without performing a diff"
When reading a diff or a range-diff, it can be handy to have colorized output because it's easier to distinguish between the different lines. This is especially true of range-diff, which has at least 6 possible line prefixes. The `git [diff|range-diff]` commands can generate a colorized diff/range-diff and display it in the pager, but they are unable to colorize an existing diff/range-diff in text

[2022-01-25 19:15] newren commented on #486
The difficulties surrounding this issue ("What if the directory the user is in goes away?") are largely removed with da81d473fc ("Merge branch 'en/keep-cwd'", 2022-01-05).  In fact, one of the responses to that series when it was submitted was, well shouldn't we also make "git bisect" stop erroring out when running from a subdirectory?  See https://lore.kernel.org/git/CABPp-BHhtZzq3rqbaHm62LOkA6cn

[2022-01-25 19:19] newren commented on #198
Already fixed in #832.

[2022-01-25 19:19] #198 closed

[2022-01-25 22:14] dscho commented on #1126
Most editors indeed support diff coloring, and most of the same editors also allow adding new syntax highlighting, typically using the `.tmbundle` format championed by TextMate

A long time ago, I played with this, coming up with this `range-diff.tmbundle.json` file:

[code]

The real problem here is that this does not contain colors, but instead labels describing semantically what is happening. S

[2022-01-28 22:48] seregamorph opened #1135 "rebase --squash feature"
Squashing branch (let it be `feature`) commits into a single commit and rebasing them on top of target branch (let it be `master`) is one of the most common operations. If there is a single commit, it's trivial, if two - trivial as well (e.g. amend to parent commit first). But in many cases the `feature` branch can be pretty long and contain merges from target branch as well - standard situation f

[2022-02-03 04:49] Abhra303 commented on #1125
Hey @dscho  I would like to try this :)

[2022-02-03 06:32] dscho commented on #1125
Sure, go ahead!

[2022-02-08 16:05] Abhra303 commented on #1125
Hi @dscho , I have a question though.

Say for [`commit.c`](https://github.com/gitgitgadget/git/blob/38062e73e009f27ea192d50481fcb5e7b0e9d6eb/builtin/commit.c#L1520) file -

[code]

Here if `-h` flag is passed it will show the usage of the `commit` sub-command and no further works (such as repo_settings, status init config etc.) would be done ( due to the `if` block). And it makes sense.

But if I

[2022-02-09 00:02] dscho commented on #1125
@Abhra303 I opened this ticket because it has been suggested on the Git mailing list that this `-h` check should be removed.

But now that I think of it, in particular in the context of `prepare_repo_settings()` (see #1139), I start to think that this falls squarely into the "Don't fix it if it ain't broken" category (because it may well be in the "if you 'fix' it, you may actually break it instea

[2022-02-09 00:02] #1125 closed

[2022-02-09 03:06] Abhra303 commented on #1125
Yeah, certainly!

I am also in favour of closing it :)

[2022-02-13 13:36] Abhra303 commented on #636
Hi @dscho ,

Where should I include the check in main.yml? I am little bit confused thinking about which one is the ideal `job` where I can place this check as a `step`. Is `regular` ideal for this check?

[2022-02-14 13:29] dscho commented on #636
I'd go for the `documentation` job, namely [`ci/testdocumentation.sh`](https://github.com/git/git/blob/v2.35.1/ci/test-documentation.sh), probably best as a sister target to [`check-builtins`](https://github.com/git/git/blob/v2.35.1/Makefile#L3379-L3382) (maybe `check-usage-strings.sh`?).

[2022-02-14 13:33] dscho commented on #636
Oh, and you will want to extend the `git grep -l 'struct option .* = {$' $rev -- \*.c` call to handle cases where the Makefile target/script is run on code extracted from a `.tar` file, probably guarding [the suggested code](https://github.com/gitgitgadget/git/issues/636#issuecomment-1018660439) in a `if test -d .git` conditional block.

[2022-02-15 10:21] dscho commented on #636
By "sister target" I meant a completely new target, e.g. `check-usage-strings`, along with the corresponding script, `check-usage-strings.sh`.

Otherwise you'd be correct, "builtins" would be too narrow a scope.

[2022-02-15 10:28] Abhra303 commented on #636
Oops. Thanks for the info :)

[2022-02-17 09:32] Abhra303 commented on #827
Hello @derrickstolee  any update about the issue?

[2022-02-17 13:35] derrickstolee commented on #827
I haven't looked at this in a while. Feel free to investigate, @Abhra303. This issue may not even be an issue, but could be a nice first contribution for either case (create a test or create a fix).

[2022-02-17 14:40] Abhra303 commented on #827
okay :)

[2022-02-18 11:41] Abhra303 commented on #827
Hi @derrickstolee,  I am having trouble to understand the "but only an exact OID rename." part you mentioned in the second point. Is this different from ordinary rename commits?

[2022-02-20 16:14] derrickstolee commented on #827
If I rename a file without changing its contents, then the Git blob doesn't change, it still has the same hash. (See [this blog post about Git objects](https://github.blog/2020-12-17-commits-are-snapshots-not-diffs/) if you're unfamiliar.)

When `git log` is looking at a file, and it notices that the file was "added" by a commit (because the file does not exist in its parent), Git will look to see

[2022-02-21 07:41] Abhra303 commented on #827
Marvellous info!! thank you so much for clearing my doubt :)

[2022-02-22 16:24] dscho opened #1156 "Use `reverse_commit_list()` in more places"
From https://lore.kernel.org/git/CABPp-BESAh6wLComJoYsf7Q7NF2EMPptKRhfAoy=1-ZRZovnaQ@mail.gmail.com/:

[2022-03-10 06:02] Abhra303 commented on #827
Hello @derrickstolee,

I am writing the test script for this test case and till now I didn't find a way to detect the downloading.
How can I detect if blobs are being downloaded? Could you tell me the approach of testing it?

I see the `git log --follow -- <path>` in both cases (exact OID and inexact rename) do not print any messages indicating the download (I observed the command runs slowly in t

[2022-03-11 18:35] Abhra303 commented on #827
Thanks @derrickstolee , got it !

[2022-03-12 07:59] Abhra303 commented on #827
Created a PR #1175  regarding this ticket. Take a look at it when you're free :)

[2022-03-12 18:22] victorphoenix3 commented on #1156
Hi, I am new to the community. May I submit a patch for this issue?

[2022-03-12 18:36] dscho commented on #1156
Yes! You don't even need anyone's permission for that :grin:

[2022-03-19 16:32] victorphoenix3 commented on #205
Hi @dscho ! I would like to work on this as my microproject for GSOC. As a new contributor, I am not very familiar with the codebase. It would be great if you could provide additional details or point me to any relevant functions/files to start at.

[2022-03-21 12:39] dscho commented on #205
Hi @victorphoenix3!

I am actually not sure that this would make for a fine microproject because it has too much potential to be bogged down in philosophical discussions. For one, not even I am sure how this functionality's user interface should look like.

Having said that, the code in question should probably live around the same location where `@{upstream}` is handled: https://github.com/git/gi

[2022-03-25 08:30] Abhra303 commented on #827
Should this be closed now?

[2022-03-25 13:30] derrickstolee commented on #827
Absolutely! Thanks for the contribution, @Abhra303!

[2022-03-25 13:30] #827 closed

[2022-04-01 07:55] aleen42 opened #1201 "How about adding `--co` options to add the `Co-authored-by:` trailer when committing?"
Prior art: https://github.com/nagoya-foundation/co-authored-commit

[2022-04-01 11:23] phil-blain commented on #1201
This is a duplicate of https://github.com/gitgitgadget/git/issues/343. The Git maintainer explained in the message linked therein that they do not feel its reasonable to add a separate flag for every trailer a specific project could use.

A more general option `--trailer` was added in [that thread on the Git mailing list](https://lore.kernel.org/git/pull.901.git.1615446968597.gitgitgadget@gmail.co

[2022-04-01 11:24] phil-blain commented on #343
A more general option `--trailer` was added in [that thread on the Git mailing list](https://lore.kernel.org/git/pull.901.git.1615446968597.gitgitgadget@gmail.com/t/#u), which came out in Git 2.32.0: https://github.com/gitgitgadget/git/blob/4b6846d9dcd391164b72bd70e8a0c0e09776afe3/Documentation/RelNotes/2.32.0.txt#L55-L57

With this option you can do:

[code]

You can also setup a [config variable

[2022-04-01 12:00] #1201 closed

[2022-04-05 04:03] aixi88 opened #1204 "unable to create temporary file: Operation not permitted"
Debian GNU/Linux 11 (bullseye)
git version 2.30.2
git root is virtualbox shared folder
git init  is OK,but git add error
[code]

[2022-04-05 12:59] phil-blain commented on #541
Small update:

- the bulk of `git submodule add` has been converted, see bbeca063cf (Merge branch 'ar/submodule-add-more', 2021-09-20)
- the bulk of `git submdule update` has been converted, see cf0e875cd8 (Merge branch 'gc/submodule-update-part2', 2022-04-04).

So the remaining `git-submodule.sh` script is really just option parsing now (and some preparatory setup that may or may not be needed an

[2022-04-05 13:42] dscho commented on #1204
@aixi88 please note that we use this issue tracker only as an informal way to track project ideas, the Git project does not use GitHub for bug tracking. See https://git-scm.com/community#bug-reporting how to report bugs to the Git project.

[2022-04-05 13:42] #1204 closed

[2022-04-05 16:42] phil-blain commented on #1201
For lurkers, here is how I made it work with LDAP:
[code]

Here is what the function does in a more legible form:
[code]

It uses `ldapsearch` to find people by their real names (first or last) or username. Using this as `trailer.*.cmd` assumes it yields a single result.

[2022-04-09 17:34] phil-blain opened #1211 "Filters from promisor remotes (partial clone) should be listed by `git remote -v`"
It would be nice for promisor remotes to be identified as such in the output of `git remove -v`, something like this maybe:
[code]

[2022-04-30 13:11] Abhra303 commented on #1211
I have created a PR ( #1227 ) addressing the issue. Kindly look at it when you're free :)

[2022-05-11 22:08] phil-blain commented on #1126
Maybe a roundabout way to deal with what @chooglen wants to achieve, but the following yields a range-diff colorized output, when ran in my clone of Git:
[code]

[2022-05-11 22:15] phil-blain commented on #1126
ref: https://people.kernel.org/monsieuricon/introducing-b4-and-patch-attestation

[2022-05-24 16:01] cazador481 opened #1239 "git-p4 failes with `NameError: name 'CalledProcessError' is not defined'` when P4 fails"
Looks like the git-p4.py doesn't import CalledProcessError from subprocess.  Throughout the code the code tries to throw the CalledProcessError errors, and can't.
Example failure:
[code]

[2022-05-25 08:00] dscho commented on #1239
@cazador481 if you meant to report a bug, this is not the right venue. The resources at https://git-scm.com/community suggest the right venue: Take it to [the Git mailing list](mailto:git@vger.kernel.org) (send plain-text messages, HTML messages are dropped silently).

The issues in this repository are meant only to track project ideas for new contributors.

[2022-05-25 08:00] #1239 closed

[2022-05-26 17:40] Metolinam opened #1243 "There are issues in commit 0fb72473d6869f744650be29114ca9c9df732149:"
There are issues in commit 0fb72473d6869f744650be29114ca9c9df732149:
`.cirrus.yml: switch to FreeBSD 13.0`
Lines in the body of the commit messages should be wrapped between 60 and 76 characters.

_Originally posted by @gitgitgadget[bot] in https://github.com/gitgitgadget/git/issues/1240#issuecomment-1136165596_

[2022-05-26 23:32] #1211 closed

[2022-05-30 19:01] #1243 closed

[2022-06-10 21:10] mlucool opened #1256 "git filter bug"
There is a bug in git status that happens when a file changes but the filtered version of the file does not. Correctly, git diff does not show anything as different and git commit believes there is nothing to commit.

Reproducer:
[code]

While this reproducer is a bit contrived, the real world examples are with Jupyter notebooks filtering output, so I expect this is a somewhat common occurrence.

[2022-06-12 22:47] bosszhit4l69 opened #1258 "# Welcome to [GitGitGadget](https://gitgitgadget.github.io/)"
# Welcome to [GitGitGadget](https://gitgitgadget.github.io/)

Hi @agreenbhm, and welcome to GitGitGadget, the GitHub App to send patch series to the Git mailing list from GitHub Pull Requests.

Please make sure that your Pull Request has a good description, as it will be used as cover letter. You can CC potential reviewers by adding a footer to the PR description with the following syntax:

    CC

[2022-06-13 07:15] #1258 closed

[2022-06-13 21:25] dscho commented on #1256
The issue tracker of the GitGitGadget fork is intended to be used for project ideas (e.g. Outreachy, Google Summer of Code, etc).

The Git project expects bug reports on [the Git mailing list](mailto:git@vger.kernel.org) (send plain-text messages, HTML messages are dropped silently) instead.

[2022-06-13 21:25] #1256 closed

[2022-06-14 07:48] dscho commented on #1256
For lurkers, this [was indeed reported to the correct list](https://lore.kernel.org/git/101027c97a9b40ce97192b1cee203b07@deshaw.com/).

[2022-07-08 21:38] PhilipOakley opened #1283 "Should the commit message check 'fail' for long `lore.kernel.org` links"
in my `[gitgitgadget/git] Add some Glossary terms, and extra `renormalize` information. (PR #1282)`
series, the GGG CI check fails with
[code]
where the only long line is the link to the bug report that triggered the doc change.

Is it possible to detect and ignore such long lines, maybe with a 12 char allowance for "bug report: " before the link?

[2022-07-08 21:42] PhilipOakley opened #1284 "CI failure on the Git `win build` for `xterm-256color`"
This is a cross link to the report [git-for-windows/git] CI failure on the Git `win build` for `xterm-256color` ([Issue #3940](https://github.com/git-for-windows/git/issues/3940)). The same error occurs when I set up the GGG [PR](https://github.com/gitgitgadget/git/pull/1282).

Is this a known issue?

[2022-07-09 07:37] dscho commented on #1284
Just like https://github.com/git-for-windows/git/issues/3940, this ticket is not about the `xterm-256color` warning at all, but about the `.tmp` folder not being deleted by the GitHub Action `setup-git-for-windows-sdk`.

And that issue has been addressed, so I will close this ticket?

In the future, could I ask you to tie up loose ends yourself when you reported the same issue in multiple places?

[2022-07-09 07:37] #1284 closed

[2022-07-09 07:41] dscho commented on #1283
We already accept long lines that start with white space, and long lines that have no white space to break at. Isn't that enough? You could put that URL on its own line, after all, no need to make the line longer than necessary.

Also: wouldn't gitgitgadget/gitgitgadget be the correct place for this ticket (it's not about Git at all, which is however gitgitgadget/git's scope).

[2022-07-09 15:14] PhilipOakley commented on #1283
I wasn't aware of those particular 'rules', however in this case the link is vast 108 characters long (that's Outlook for you;-). It did feel right to prefix the link with the "Bug report", which wasn't picked up when I had the series in Git-for-Windows, so it was a surprise failure when rebased across to GitGitGadget.

Anyway it looks like it's passed CI checks now, so all good so far.

[2022-07-09 15:20] PhilipOakley commented on #1283
I think that's a user experience (UX) confusion. It simply didn't occur to me at the time that there was another place to report the problem.

It maybe that an "Issue Template" for gitgitgadget/git (ggg/git) would help in guiding folks as to how to decide if their problem fell on the side of being a ggg/git issue, or more in ggg/ggg's scope. It would have helped me.

Thanks.

[2022-07-09 16:54] PhilipOakley commented on #1283
I spoke too soon. That was just the CI check, not the ggg line length check that had passed. My `/submit` generated a repeat failure.

One thought is that the error message could be updated to include the two caveats you stated above, so as to cover indented text (i.e. those with that leading space), and the very long single 'word'/URL style cases. That should help folks avoid fretting about how t

[2022-07-10 18:38] dscho commented on #1283
Feel free to open a PR at https://github.com/gitgitgadget/gitgitgadget/ (yes, I assume that Typescript is not your forte, but the error message should be easy enough to `git grep` and to augment).

[2022-07-11 15:10] #1283 closed

[2022-07-17 07:03] rimrul commented on #936
https://lore.kernel.org/git/xmqqr12kwxhs.fsf@gitster.g/

https://git.kernel.org/pub/scm/git/git.git/ and
https://github.com/git/git (among other mirrors) and they are at
these commits:

a descendant of 'master', unless I screw up, and I'd appreciate if
you let me know when it happens.  Right now, it is not the case,
though.

'next'.  It always is a decendant of 'master'.

release cycle, so it star

[2022-07-26 07:47] Morteza43 commented on #199
https://github.com/gitgitgadget/git/issues/199#issue-445284150

[2022-08-09 12:42] sebma opened #1318 "[FeatureRequest][git config]Add support for key names with underscores"
Hi,

Key names with underscores are not supported by `git config` :
[code]
[code]
Source : https://stackoverflow.com/q/11364044

Is it possible to add support for key names with underscores ?

[2022-08-09 20:47] dscho commented on #1318
Thank you for writing up a feature request. However, this is not the place the Git projects expects such requests (gitgitgadget/git is not even owned by the Git project): please send it to the Git mailing list. See https://git-scm.com/community for more details.

[2022-08-09 20:47] #1318 closed

[2022-08-10 09:28] dscho opened #1319 "Drop support for obsolete MSys environments"
According to https://lore.kernel.org/git/c9aec5b6-0a78-a580-3658-5189bd2075a6@kdbg.org, the last known Windows user of pre-MSYS2 build environments has switched to Git for Windows' environment.

Therefore, we can drop the msysGit/MSys parts of `config.mak.uname`.

[2022-08-12 08:42] dscho opened #1321 "rebase: do not try to `fixup` a skipped commit"
When running an interactive rebase, it is possible that the target commit of a `fixup!` commit could not be applied due to merge conflicts (or because it has been upstreamed). In this instance, going forward with a `fixup` will amend the wrong commit.

Let's prevent that.

The specifics how to prevent that are not set in stone. The easiest solution would probably be to refuse to even start with th

[2022-08-12 08:43] dscho commented on #1321
See https://github.com/git-for-windows/git/pull/3981#issuecomment-1212856115 for a real-world scenario where this bug caused real problems.

[2022-08-12 11:58] derrickstolee commented on #1321
By "refusing to start the `fixup!`" do you instead mean to keep the commit as a `pick` and not reorder it?

[2022-08-14 06:46] dscho commented on #1321
No, at the time we could reorder it, we won't have the information whether its target `pick` caused problems and was skipped by the user.

[2022-08-15 10:01] Itxlocalxcleared opened #1322 "Hah# Welcome to [GitGitGadget](https://gitgitgadget.github.io/)"
# Welcome to [GitGitGadget](https://gitgitgadget.github.io/)

Hi @edecosta-mw, and welcome to GitGitGadget, the GitHub App to send patch series to the Git mailing list from GitHub Pull Requests.

Please make sure that your Pull Request has a good description, as it will be used as cover letter. You can CC potential reviewers by adding a footer to the PR description with the following syntax:

[2022-08-15 11:23] #1322 closed

[2022-08-16 20:23] sebma commented on #1318
@dscho Hi, Quoting from https://git-scm.com/community :

 So I have sent a Text-Only email with Thunderbird to git@vger.kernel.org but I got a failure notice from the mailer daemon saying :

What does it mean ?

[2022-08-16 20:37] dscho commented on #1318
This sounds similar to https://lore.kernel.org/git/YuvyGzevAMWyd0K5@mit.edu/. I have no clue how to investigate such problems.

[2022-08-16 20:38] sebma commented on #1318
@dscho What's my next move ?

[2022-08-16 20:41] dscho commented on #1318
I don't know. Maybe there is a way to contact a list owner? I have no experience with this.

[2022-08-17 00:28] phil-blain commented on #1318
It can also mean that your email provider is flagged by the Git mailing list as being known for being used by accounts that send spam, probably.

Your best bet is to write to the list using another email address :)

[2022-08-19 11:30] littlejiancc opened #1328 "git clone with basic auth in url directly returns authentication failure after 401 received under some git versions"
When I use git v2.36.2 to clone with basic auth in url, when receiving the 401, it directly returns authentication failure, even recv head has `www-authenticate: Basic realm=Restricted`, no request is send again.

And user git v2.34.1 to clone it works well.

<pre>
$ server git version
git version 2.30.2
</pre>

<pre>
$ client git version
git version 2.36.2
$ git image
alpine/git:v2.36.2
</pre>

<

[2022-08-19 16:23] dscho commented on #1328
Thank you for writing up a bug report. However, this is not the place the Git projects expects bug reports: please send it to the Git mailing list. See https://git-scm.com/community for more details.

[2022-08-19 16:23] #1328 closed

[2022-08-29 23:48] phil-blain commented on #752
Also related:
- https://public-inbox.org/git/dab7128d-5ea7-5d7c-1ae1-1d71be316326@gmail.com/
- https://lore.kernel.org/git/85faefc0b1e23ee942b11087089ccc4f@ispras.ru/

[2022-09-18 17:09] rahul3002 commented on #936
i would like to take this issue

[2022-09-19 06:29] dscho commented on #936
No need to ask for permission ;-)

To get you started, you might want to have a look at https://gitgitgadget.github.io/

[2022-09-22 16:24] jjjhdjokaygh opened #1364 "Admin"

[2022-09-22 16:27] #1364 closed

[2022-10-20 15:57] mikewy0527 opened #1388 "gitk doesn't work on macOS Monterey"
I install git with `brew install git` on my machine, and try to using `gitk`, but it startup failed with the following messages:
[code]
Test environment:
[code]
Then I google and found this mailing-list discussing the same issue: [Gitk doesn't work on macOS Mojave](https://www.mail-archive.com/git@vger.kernel.org/msg155599.html), and I test base on its patch [[PATCH] gitk: fix MacOS 10.14 "Mojave"

[2022-10-21 08:53] fobiasic07 commented on #635
Hello, I've been looking through this issue to submit as part of my outreachy contribution and I'm faced with a challenge:

Where can I find the die(_( )) function defined? Is it in one particular library or multiple? I believe this can help me obtain a better defined regex expression in order to write a script that can  match the error messages with the CodingGuidelines.

[2022-10-21 09:16] dscho commented on #1388
Thank you for writing up a bug report. However, this is not the place the Git projects expects bug reports: please send it to the Git mailing list. See https://git-scm.com/community for more details.

[2022-10-21 09:16] #1388 closed

[2022-10-21 10:37] dscho commented on #635
@fobiasic07 It is defined [here](https://github.com/git/git/blob/45c9f05c44b1cb6bd2d6cb95a22cf5e3d21d5b63/usage.c#L171-L183), handing off to [`die_routine`](https://github.com/git/git/blob/45c9f05c44b1cb6bd2d6cb95a22cf5e3d21d5b63/usage.c#L116), which is a function pointer that usually points to [`die_builtin()`](https://github.com/git/git/blob/45c9f05c44b1cb6bd2d6cb95a22cf5e3d21d5b63/usage.c#L69-L

[2022-10-23 19:02] dscho opened #1395 "Make `check-whitespace` failures more helpful"
Every once in a while, the `check-whitespace` runs fail in a GitGitGadget PR and somebody has to explain how to fix them (see e.g. [the PR comment I just posted](https://github.com/gitgitgadget/git/pull/1394#issuecomment-1288176066)).

It would be good if we used [a workflow command](https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions) to give more helpful outpu

[2022-10-23 19:03] dscho commented on #1395
@webstech FYI

[2022-10-24 23:57] webstech commented on #1395
How about writing the errors and fix to the `job summary`?  It would take one click through away from the user (not having to look at the log).  Using `error|warning|notice` is problematic since they are single line in the annotations.

[2022-10-29 21:19] samkergachu commented on #1321
Hey dscho. Is anyone working on this, I would like to take it up as my outreachy microproject

[2022-11-03 20:52] dscho commented on #1395
Whatever works. We could also bring back the functionality that added a PR comment (i.e. reverting the revert at cc00362125c7726551d2b6bda85e1a4b17d0bc81), using the correct [`permissions`](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions) (I believe `issues: write` should do the trick).

As long as users get notified that they need to run `git reba

[2022-11-08 15:57] dscho opened #1410 "Reimplement `git subtree` as a built-in"
The `git subtree` command is currently implemented as a shell script and it lives [inside `contrib/subtree/`](https://github.com/git/git/tree/v2.38.1/contrib/subtree). There was previously [an attempt to move it out of `contrib/`](https://lore.kernel.org/git/20180430095044.28492-1-avarab@gmail.com/), but there was the concern of adding yet another scripted command (with all the problems that bring

[2022-11-08 19:00] phil-blain commented on #1410
I'm a little bit unsure about that idea, given the general lack of interest from mailing list regulars for any bug report in `git subtree`...

Moving it out of contrib does imply (at least to me) some sort of "support", which I'm not sure the project would be interested in providing.

Just my 2 cents...

[2022-11-09 15:58] dscho commented on #1410
@phil-blain the lack of interest might very well be explained by `git subtree` living in `contrib/`.

FWIW Git for Windows ships with `git subtree` for I don't know how long, so there is kind of some support already.

[2022-11-11 16:30] Russil3108 opened #1417 "https://github.com/gitgitgadget/git/tree/ab%2Falign-parse-options-help"

[2022-11-11 21:00] #1417 closed

[2022-11-20 06:28] Harshil-Jani commented on #1319
Hey ! @dscho I would like to work on this as a part of my " getting involved into the git " contribution . `[Newbie]`.

[2022-11-20 10:53] dscho commented on #1319
Go right ahead! Do you need any guidance in addition to what's written up in the ticket?

[2022-11-20 11:28] Harshil-Jani commented on #1319
@dscho  I need some help to think clearly about it. For now, All I can sense is that we need to clean up the support from [this line here](https://github.com/git/git/blob/a0789512c5a4ae7da935cd2e419f253cb3cb4ce7/config.mak.uname#L680) reffering to THIS_IS_MSYSGIT since it's no longer used.

[2022-11-20 15:22] dscho commented on #1319
@Harshil-Jani have you studied the surrounding code in detail and understood what it does? I'm afraid that it would take me longer to explain these `if`/`else` constructs than to write up the patch addressing this here ticket.

[2022-11-20 19:41] Harshil-Jani commented on #1319
@dscho If this is not on the priority list then please let me take some time ( Three days max )  to go through the config and understand how it works for different environments. My current understanding is that there are two implementations for git on Windows.

1.  If kernel name is [Windows](https://github.com/git/git/blob/a0789512c5a4ae7da935cd2e419f253cb3cb4ce7/config.mak.uname#L413)
2.  If ker

[2022-11-20 23:12] dscho commented on #1410
Besides, there was https://lore.kernel.org/git/20180430095044.28492-1-avarab@gmail.com/, so there _is_ interest in getting this command into mainline.

[2022-11-21 08:12] dscho commented on #1319
There [is not really a kernel name "Windows"](https://github.com/git/git/blob/a0789512c5a4ae7da935cd2e419f253cb3cb4ce7/config.mak.uname#L18).

But that's irrelevant for the sake of this ticket, anyway, that section is about using Visual C, which has nothing to do with the MSys support.

It's not the "kernel" name. The kernel is still Win32, even for `mingw-w64`. But the _system_ name (i.e. the out

[2022-11-21 18:53] Bagira80 opened #1430 "`git apply --unsafe-paths` only works in certain cases!"
## Introduction

I am trying to use `git apply --unsafe-paths` as a "better GNU patch" (aka as replacement for the GNU `patch` executable).
However, this is not really working out as expected and stated by its [documentation](https://git-scm.com/docs/git-apply#Documentation/git-apply.txt---unsafe-paths).

## What did you do before the bug happened? (Steps to reproduce your issue)

Follow these ste

[2022-11-21 22:01] lebedev opened #1431 "Unexpected behavior of partial --help flag"
Help flag behaves unexpectedly in some scenarios.

1. The command `git reset --h`
Expected behavior: error message about flag ambiguity (between `--help` and `--hard`).
Actual behavior: hard reset to HEAD.
2. The command `git reset --he`
Expected behavior: help about `reset` command`.
Actual behavior: error message about the unknown `he` flag.

[2022-11-22 09:16] dscho commented on #1431
@lebedev Thank you for writing up a bug report. However, this is not the place the Git projects expects bug reports: please send it to the Git mailing list. See https://git-scm.com/community for more details.

[2022-11-22 09:16] #1431 closed

[2022-11-22 09:18] dscho commented on #1430
@Bagira80 Thank you for writing up a bug report. However, this is not the place the Git projects expects bug reports: please send it to the Git mailing list. See https://git-scm.com/community for more details.

[2022-11-22 09:18] #1430 closed

[2022-11-22 10:08] Bagira80 commented on #1430
Thank you, @dscho, but sending this bug report directly via the Git mailing list is what I already tried almost a year ago. Nobody seemed to have noticed.
So, I thought, maybe reporting it here might bring it to the attention of Git developers that feel responsible for `git apply`. I assumed the message might automatically be put on the Git mailing list (as I understand is the case with pull reque

[2022-11-22 11:17] Bagira80 commented on #1430
My original bug-report to the Git mailing list can be seen [here](https://public-inbox.org/git/CAFhJ7yv4F6gwXh3PgKaYQGOcAq7ryqVhXhGdBTBjGRScHUo9=A@mail.gmail.com/).

[2022-11-22 13:32] lebedev commented on #1431
Got it. Thanks